<!doctype html>
<html lang="en" class="no-js">
<head>
<!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{echo:$SYSINFO['sys_name_cn'];/}-{echo:$SYSTEM_TITLE;/}</title>
	<meta name="description" content="{echo:$SYSINFO['sys_name_cn'];/}-{echo:$SYSTEM_TITLE;/}">
	<base href="{echo:$baseUrl;/}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Meta tags end -->

<!-- Stylesheets starts here -->
	<link rel="shortcut icon" href="images/icons/fevi.png" >
	<link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/simple-line.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/owl.transitions.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link href="css/custom.css" rel="stylesheet" />
    
<!-- Stylesheets ends here -->

</head>
<!-- head end -->
<body>
	{inc: include tpl_engine($SYSINFO['templates_name'],"header.html",1);/}
 <div class="inner-structure relative w100-l">
		<img src="images/our.png" alt="about-banner" />
	</div><!-- /.banner-structure -->
  <div class="blog-section w100-l fixed-padding">
	<div class="container">
            <div class="col-md-12 content-common">
                <div class="content-info">
                    <div class="col-md-1 content-line"></div>
                    <p class="p-info">速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉矶洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉洛杉矶速运通总部位于加州洛杉矶速运通总部位于加州洛杉</p>
                </div>
            </div>

            <div class="col-md-12 content-common">
                <div class="content-info">
                    <h4>服务对象</h4>
                    <p class="p-info">我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族</p>
                </div>
            </div>

            <div class="col-md-12 content-common">
                <div class="content-info">
                    <h4>优质服务</h4>
                    <p class="p-info">每位顾客我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族我们针对海淘一族</p>
                </div>
            </div>

            <div class="col-md-6 content-common">
                <div class="content-info">
                    <h4>操作平台</h4>
                    <p class="p-info">100%网上操作的专业物流运转系统，使您无论在海外还是在中国都可在随时在线安排发货，全程跟踪，系统会提供从网站发货到国内收件人签收的所有状态</p>
                </div>
            </div>
            <div class="col-md-6 content-common">
                <div class="content-info">
                    <h4>海外仓储</h4>
                    <p class="p-info">100%网上操作的专业物流运转系统，使您无论在海外还是在中国都可在随时在线安排发货，全程跟踪，系统会提供从网站发货到国内收件人签收的所有状态</p>
                </div>
            </div>
            <div class="col-md-6 content-common">
                <div class="content-info">
                    <h4>财务管理</h4>
                    <p class="p-info">100%网上操作的专业物流运转系统，使您无论在海外还是在中国都可在随时在线安排发货，全程跟踪，系统会提供从网站发货到国内收件人签收的所有状态</p>
                </div>
            </div>
            <div class="col-md-6 content-common">
                <div class="content-info">
                    <h4>优惠价格</h4>
                    <p class="p-info">100%网上操作的专业物流运转系统，使您无论在海外还是在中国都可在随时在线安排发货，全程跟踪，系统会提供从网站发货到国内收件人签收的所有状态</p>
                </div>
            </div>
        </div>
    </div>
	{inc: include tpl_engine($SYSINFO['templates_name'],"footer.html",1);/}
</body>
</html>
