<div class="row-fluid">
  <div id="footer" class="span12" style="color:#fff;">Copyright &copy; 2016. FRIEITEX. All rights reserved </div>
</div>
<script src="Matrixadmin/js/excanvas.min.js"></script> 
<script src="Matrixadmin/js/jquery.min.js"></script> 
<script src="Matrixadmin/js/jquery.ui.custom.js"></script> 
<script src="Matrixadmin/js/bootstrap.min.js"></script>
<script src="Matrixadmin/js/matrix.js"></script> 

<!--script src="Matrixadmin/js/jquery.peity.min.js"></script> 
<script src="Matrixadmin/js/fullcalendar.min.js"></script> 
<script src="Matrixadmin/js/matrix.interface.js"></script> 
<script src="Matrixadmin/js/matrix.chat.js"></script> 
<script src="Matrixadmin/js/jquery.validate.js"></script> 
<script src="Matrixadmin/js/matrix.form_validation.js"></script> 
<script src="Matrixadmin/js/jquery.wizard.js"></script> 
<script src="Matrixadmin/js/jquery.uniform.js"></script> 
<script src="Matrixadmin/js/select2.min.js"></script> 
<script src="Matrixadmin/js/matrix.popover.js"></script> 
<script src="Matrixadmin/js/jquery.dataTables.min.js"></script> 
<script src="Matrixadmin/js/matrix.tables.js"></script--> 

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>