
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>AWES HTML5 Template | Responsive Portfolio Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
       <!-- IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lte IE 8]>
    	<link rel="stylesheet" type="text/css" href="./css/ie.css" />
		<![endif]-->
        
        <!-- Favicon and Apple Touch Icons -->
        <link rel="shortcut icon" href="./img/ico/favicon.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./img/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./img/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./img/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="./img/ico/apple-touch-icon-57-precomposed.png" />
         
        
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<style>
   h1, h2, h3, h4, h5, h6, #menu a {font-family:Open Sans !important;}
</style>

<link rel='stylesheet' id='opensans-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&ver=3.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css' href='./css/bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrapresponsive-css' href='./css/bootstrap-responsive.css' type='text/css' media='all' />
<link rel='stylesheet' id='main-css' href='./css/main.css' type='text/css' media='all' />
<link rel='stylesheet' id='googleprettify-css' href='./assets/google-code-prettify/prettify.css' type='text/css' media='all' />
<link rel='stylesheet' id='nivoslider-css' href='./assets/nivo/nivo-slider.css' type='text/css' media='all' />
<link rel='stylesheet' id='prettyphoto-css' href='./css/prettyPhoto.css' type='text/css' media='all' />
<script type='text/javascript' src='./js/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='./assets/LayerSlider/js/jquery-easing-1.3.js'></script>

<script type='text/javascript' src='./js/bootstrap.min.js'></script>
<script type='text/javascript' src='./js/application.js'></script>
<script type='text/javascript' src='./js/superfish-menu/superfish.js'></script>
<script type='text/javascript' src='./js/jquery.nivo.slider.pack.js'></script>
<script type='text/javascript' src='./js/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='./js/slides.min.jquery.js'></script>
<script type='text/javascript' src='./js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='./js/testimonialrotator.js'></script>
<script type='text/javascript' src='./js/jquery.waitforimages.js'></script>
<script type='text/javascript' src='./js/jquery.preloader.js'></script>

    <link class="skin" href="./styles/green.css" rel="stylesheet" type="text/css" />
        
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<!--TOP-->
    <div id="TopContentInset">
  	<div class="top_line">
    	<div class="container">
        	<div class="row">
            	<div class="span6">
					<p class="feed">AWES is a responsive template for showing your work and everyone in the world.</p>
    			</div>
                <div class="span6 soc_icons">
						<a target="_blank" href="#"><div class="icon_rss"></div></a><a target="_blank" href="#"><div class="icon_dribbble"></div></a><a target="_blank" href="#"><div class="icon_forrst"></div></a><a target="_blank" href="#"><div class="icon_lastfm"></div></a><a target="_blank" href="#"><div class="icon_vimeo"></div></a><a target="_blank" href="#"><div class="icon_youtube"></div></a><a target="_blank" href="#"><div class="icon_pinterest"></div></a><a target="_blank" href="#"><div class="icon_linkedin"></div></a><a target="_blank" href="#"><div class="icon_skype"></div></a><a target="_blank" href="#"><div class="icon_flickr"></div></a><a target="_blank" href="#"><div class="icon_picasa"></div></a><a target="_blank" href="#"><div class="icon_google"></div></a><a target="_blank" href="#"><div class="icon_t"></div></a><a target="_blank" href="#"><div class="icon_facebook"></div></a>                </div>
    		</div>
    	</div>
    </div></div>
    <div id="TopTrigger">+</div>
    <!--/TOP-->
    <div class="page_head">
    	<div class="container">
        	<div class="row">
            	<div class="span4">
                	<div class="logo">
                    	<a href="./index.html"><img src="./img/logo.png" alt="AWES" title="Responsive HTML5 Template" /></a>
                    </div>
                </div>
                <div class="span8">
                	<nav>
                    <div class="menu-right-bg"></div>
                    <div class="menu-bg">
<ul id="menu">
<li><a href="./index.html">Home +</a>
<ul>
	<li><a href="./index-2.html">Home Without Slider</a></li>
</ul>
</li>
<li><a href="./portfolio-4columns.html">Portfolio +</a>
<ul>
	<li><a href="#">Portfolio Types</a>
	<ul>
		<li><a href="./portfolio-slider.html">Portfolio With Slider</a></li>
		<li><a href="./portfolio-video.html">Portfolio With Video</a></li>
		<li><a href="./portfolio-single.html">Portfolio With Image</a></li>
	</ul>
</li>
	<li><a href="./portfolio-6columns.html">Portfolio 6 Columns</a></li>
	<li><a href="./portfolio-4columns.html">Portfolio 4 Columns</a></li>
	<li><a href="./portfolio-3columns.html">Portfolio 3 Columns</a></li>
	<li><a href="./portfolio-2columns.html">Portfolio 2 Columns</a></li>
</ul>
</li>
<li><a href="./blog.html">Blog</a></li>
<li><a href="./elements.html">Features +</a>
<ul>
	<li><a href="./elements.html">Template Elements</a></li>
	<li><a href="./typography.html">Typography</a></li>
	<li><a href="./full-width.html">Full Width Page</a></li>
	<li><a href="./sitemap.html">Sitemap</a></li>
	<li><a href="./404.html">404 Page</a></li>
</ul>
</li>
<li><a href="./contact.html">Contact</a></li>
<li><a target="_blank" href="#">Purchase Now</a></li>
</ul>                    </div><div class="menu-left-bg"></div>
                    </nav>
                </div>
    		</div>
    	</div>
    </div>
<!--WELCOME AREA-->
<div class="gray_bg">
 <div class="container">
        <div class="row">
        	<div class="span12">
            <div class="welcome">
                        <h1><span class="colored">Elements</span><span class="grey_colored"> / With our large collection</span></h1>
            </div>
            </div>
        </div>
        </div>
        </div>
    <!--/WELCOME AREA-->   
       <!--PAGE CONTENT-->
<div class="margintop30"></div>
<div class="container" style="margin-bottom:50px;">
    	<div class="row">
        	<div class="span12">
            	
           			
									
					<!-- content -->
					<div class="row">
<div class="span12"><b>Simple and easy to use</b><br />Designing and organizing your posts has never been easier. With our large collection of shortcodes, you can create beautiful and complex layouts with ease. This will greatly improve the functionality and variety of your content without the frustration that comes with learning advanced web development techniques.</div>
<p>&nbsp;</p>
</div>
<div class="page-header">
<h3>Tabs &#038; Accordions <span class="grey_colored">Togglable tabs and collapse plugin</span></h3>
<p /></div>
<div class="row">
<div class="span6">
<div>
<ul class="nav nav-tabs">
<li class="active"><a href="#1" data-toggle="tab">First Tab Title</a></li>
<li class=""><a href="#2" data-toggle="tab">Second Tab Title</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="1">
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.</p>
</div>
<div class="tab-pane " id="2">
<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#8217;t heard of them accusamus labore sustainable VHS.</p>
</div>
</div>
</div>
</div>
<div class="span6">
<div class="accordion">
<div class="accordion-group">
<div class="accordion-heading"><a class="accordion-toggle"><i class="icon-active icon-chevron-down"></i> <i class="icon-passive icon-chevron-right"></i> My Accordion 1</a></div>
<div class="accordion-body">
<div class="accordion-inner">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#8217;t heard of them accusamus labore sustainable VHS.</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading"><a class="accordion-toggle"><i class="icon-active icon-chevron-down"></i> <i class="icon-passive icon-chevron-right"></i> My Accordion 2</a></div>
<div class="accordion-body">
<div class="accordion-inner">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading"><a class="accordion-toggle"><i class="icon-active icon-chevron-down"></i> <i class="icon-passive icon-chevron-right"></i> My Accordion 3</a></div>
<div class="accordion-body">
<div class="accordion-inner">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&#8217;t heard of them accusamus labore sustainable VHS.</div>
</div>
</div>
</div>
</div>
</div>
<hr class="soften" />
<div class="page-header">
<h3>Buttons <span class="grey_colored">Cross browser compatibility</span></h3>
<p /></div>
<p>There are six type of buttons in two different sizes.</p>
<h6>Large Buttons</h6>
<p />
<div class="row">
<div class="span1"><a class="btn  btn-large" href="#">Button</a></div>
<div class="span1"><a class="btn btn-primary btn-large" href="#">Button</a></div>
<div class="span1"><a class="btn btn-info btn-large" href="#">Button</a></div>
<div class="span1"><a class="btn btn-success btn-large" href="#">Button</a></div>
<div class="span1"><a class="btn btn-warning btn-large" href="#">Button</a></div>
<div class="span1"><a class="btn btn-danger btn-large" href="#">Button</a></div>
<div class="span1"><a class="btn btn-inverse btn-large" href="#">Button</a></div>
<div class="span1"></div>
<div class="span1"></div>
<div class="span1"></div>
<div class="span1"></div>
<div class="span1"></div>
</div>
<p />
<h6>Default Buttons</h6>
<p />
<div class="row">
<div class="span1"><a class="btn  " href="#">Button</a></div>
<div class="span1"><a class="btn btn-primary " href="#">Button</a></div>
<div class="span1"><a class="btn btn-info " href="#">Button</a></div>
<div class="span1"><a class="btn btn-success " href="#">Button</a></div>
<div class="span1"><a class="btn btn-warning " href="#">Button</a></div>
<div class="span1"><a class="btn btn-danger " href="#">Button</a></div>
<div class="span1"><a class="btn btn-inverse " href="#">Button</a></div>
<div class="span1"></div>
<div class="span1"></div>
<div class="span1"></div>
<div class="span1"></div>
<div class="span1"></div>
</div>
<hr class="soften" />
<div class="page-header">
<h3>Alerts <span class="grey_colored">Styles for success, warning, and error messages</span></h3>
<p /></div>
<div class="row">
<div class="span6">
<div class="alert  fade in"><a class="close" data-dismiss="alert">x</a><strong>Warning!</strong> Best check yo self, you&#8217;re not looking too good.</div>
<div class="alert alert-error fade in"><a class="close" data-dismiss="alert">x</a><strong>Oh snap!</strong> Change a few things up and try submitting again.</div>
</div>
<div class="span6">
<div class="alert alert-success fade in"><a class="close" data-dismiss="alert">x</a><strong>Well done!</strong> You successfully read this important alert message.</div>
<div class="alert alert-info fade in"><a class="close" data-dismiss="alert">x</a><strong>Heads up!</strong> This alert needs your attention, but it&#8217;s not super important.</div>
</div>
</div>
<hr class="soften" />
<div class="page-header">
<h3>Hero Unit <span class="grey_colored">for segmenting content</span></h3>
<p /></div>
<div class="hero-unit sep_bg">
<h1><b>This is a Hero Unit! </b></h1>
<p>More+ is a responsive template for showing your work and what you think to everyone in the world, in any device. It’s that simple with MORE+ !</p>
<p><a href="./elements.html" class="btn btn-warning btn-large"><b>Some Action Button</b></a></p>
</div>
<hr class="soften" />
<div class="row">
<div class="span6">
<div class="page-header">
<h3>Inline Labels <span class="grey_colored">Label and annotate text</span></h3>
<p /></div>
<p />Tight pants next level keffiyeh <span class="label ">you probably</span> haven&#8217;t heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney&#8217;s fixie sustainable apparel <span class="label label-warning">have a</span> terry richardson vinyl chambray. Beard <span class="label label-inverse">stumptown</span> cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney&#8217;s cleanse vegan chambray. lorem ipsum dolor sit amet placera lorem dos nullam really ironic artisan <span class="label label-important">whatever keytar</span>, scene ster farm-to-table banksy Austin <span class="label label-info">twitter handle</span> freegan cred raw denim single-origin coffee viral.</div>
<div class="span6">
<div class="page-header">
<h3>Badges <span class="grey_colored">Indicators and unread counts</span></h3>
<p /></div>
<p>Badge grey &#8211; <span class="badge ">1</span>&nbsp;&nbsp;&nbsp;&nbsp;Badge Green &#8211; <span class="badge badge-success">2</span>&nbsp;&nbsp;&nbsp;&nbsp;Badge Yellow &#8211; <span class="badge badge-warning">3</span></p>
<p />Badge Red &#8211; <span class="badge badge-important">4</span>&nbsp;&nbsp;&nbsp;&nbsp;Badge Blue &#8211; <span class="badge badge-info">5</span>&nbsp;&nbsp;&nbsp;&nbsp;Badge Black &#8211; <span class="badge badge-inverse">6</span></div>
</div>
<hr class="soften" />
<div class="page-header">
<h3>Tooltips <span class="grey_colored">Hover over the links below to see tooltips</span></h3>
<p /></div>
<p>Tight pants next level keffiyeh <a href="#" rel="tooltip" title="first tooltip"> you probably</a> haven&#8217;t heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, apparel <a href="#" rel="tooltip" title="Another tooltip"> have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney&#8217;s cleanse vegan chambray. lorem ipsum dolor sit amet placera lorem dos nullam a really ironic artisan <a href="#" rel="tooltip" title="Another one here too"> whatever keytar</a>, scene ster farm-to-table banksy Austin <a href="#" rel="tooltip" title="The last tip!"> twitter handle</a> freegan cred raw denim single-origin coffee viral.</p>
<hr class="soften" />
<div class="page-header">
<h3>Tagline</h3>
<p /></div>
<div class="presentation">
<h1><span class="colored">For Your XXL Slogan Texts</span></h1>
</div>
<hr class="soften" />
<div class="row">
<div class="span6">
<div class="page-header">
<h3>Code <span class="grey_colored">Inline and block code snippets with Google Prettify</span></h3>
<p /></div>
<pre class="prettyprint linenums">
&lt;form class="well"&gt;
&lt;label&gt;Label name&lt;/label&gt;
&lt;input type="text" class="span3" placeholder="Type something…"&gt;
&lt;span class="help-block"&gt;Example block-level help text here.&lt;/span&gt;
&lt;label class="checkbox"&gt;
&lt;input type="checkbox"&gt; Check me out
&lt;/label&gt;
&lt;button type="submit" class="btn"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
</pre>
</div>
<div class="span6">
<div class="page-header">
<h3>Blockquotes</h3>
<p /></div>
<blockquote><p>Luis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur..</p>
<p><small>Albert Einstein</small></p></blockquote>
</div>
</div>
<hr class="soften" />
<div class="page-header">
<h3>Table <span class="grey_colored">For, you guessed it, tabular data</span></h3>
<p /></div>
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>#</th>
<th>First Name</th>
<th>Last Name</th>
<th>Username</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Jacop</td>
<td>Jorgensen</td>
<td>@TwBootstrap</td>
</tr>
<tr>
<td>2</td>
<td>Larry</td>
<td>Brown</td>
<td>@mdo</td>
</tr>
<tr>
<td>3</td>
<td>Mark</td>
<td>Thornton</td>
<td>@fat</td>
</tr>
<tr>
<td>4</td>
<td>Steve</td>
<td>Otto</td>
<td>@user1</td>
</tr>
</tbody>
</table>
<hr class="soften" />
<div class="page-header">
<h3>Inline Slider &#038; Inline Video</h3>
<p /></div>
<div class="row">
<div class="span6">
<div class="slider_area">
<div class="theme-default">
<div id="slider" class="nivoSlider">
<img src="./img/blog/p1-full.jpg" alt="" /><img src="./img/blog/p6-full.jpg" alt="" /><img src="./img/blog/p7-full.jpg" alt="" />
</div>
</div>
</div>
</div>
<div class="span6">
<div class="theme-default video-container"><iframe src="http://player.vimeo.com/video/5984585" frameborder="0"></iframe></div>
</div>
</div>
<div class="page-header">
<h3>Icons <span class="grey_colored">Graciously provided by Glyphicons</span></h3>
<p /></div>
<div class="row">
<div class="span3">
<ul class="unstyled">
<li><i class="icon-glass"></i> icon-glass</li>
<li><i class="icon-music"></i> icon-music</li>
<li><i class="icon-search"></i> icon-search</li>
<li><i class="icon-envelope"></i> icon-envelope</li>
<li><i class="icon-heart"></i> icon-heart</li>
<li><i class="icon-star"></i> icon-star</li>
<li><i class="icon-star-empty"></i> icon-star-empty</li>
<li><i class="icon-user"></i> icon-user</li>
<li><i class="icon-film"></i> icon-film</li>
<li><i class="icon-th-large"></i> icon-th-large</li>
<li><i class="icon-th"></i> icon-th</li>
<li><i class="icon-th-list"></i> icon-th-list</li>
<li><i class="icon-ok"></i> icon-ok</li>
<li><i class="icon-remove"></i> icon-remove</li>
<li><i class="icon-zoom-in"></i> icon-zoom-in</li>
<li><i class="icon-zoom-out"></i> icon-zoom-out</li>
<li><i class="icon-off"></i> icon-off</li>
<li><i class="icon-signal"></i> icon-signal</li>
<li><i class="icon-cog"></i> icon-cog</li>
<li><i class="icon-trash"></i> icon-trash</li>
<li><i class="icon-home"></i> icon-home</li>
<li><i class="icon-file"></i> icon-file</li>
<li><i class="icon-time"></i> icon-time</li>
<li><i class="icon-road"></i> icon-road</li>
<li><i class="icon-download-alt"></i> icon-download-alt</li>
<li><i class="icon-download"></i> icon-download</li>
<li><i class="icon-upload"></i> icon-upload</li>
<li><i class="icon-inbox"></i> icon-inbox</li>
<li><i class="icon-play-circle"></i> icon-play-circle</li>
<li><i class="icon-repeat"></i> icon-repeat</li>
<li><i class="icon-refresh"></i> icon-refresh</li>
<li><i class="icon-list-alt"></i> icon-list-alt</li>
<li><i class="icon-lock"></i> icon-lock</li>
<li><i class="icon-flag"></i> icon-flag</li>
<li><i class="icon-headphones"></i> icon-headphones</li>
</ul></div>
<div class="span3">
<ul class="unstyled">
<li><i class="icon-volume-off"></i> icon-volume-off</li>
<li><i class="icon-volume-down"></i> icon-volume-down</li>
<li><i class="icon-volume-up"></i> icon-volume-up</li>
<li><i class="icon-qrcode"></i> icon-qrcode</li>
<li><i class="icon-barcode"></i> icon-barcode</li>
<li><i class="icon-tag"></i> icon-tag</li>
<li><i class="icon-tags"></i> icon-tags</li>
<li><i class="icon-book"></i> icon-book</li>
<li><i class="icon-bookmark"></i> icon-bookmark</li>
<li><i class="icon-print"></i> icon-print</li>
<li><i class="icon-camera"></i> icon-camera</li>
<li><i class="icon-font"></i> icon-font</li>
<li><i class="icon-bold"></i> icon-bold</li>
<li><i class="icon-italic"></i> icon-italic</li>
<li><i class="icon-text-height"></i> icon-text-height</li>
<li><i class="icon-text-width"></i> icon-text-width</li>
<li><i class="icon-align-left"></i> icon-align-left</li>
<li><i class="icon-align-center"></i> icon-align-center</li>
<li><i class="icon-align-right"></i> icon-align-right</li>
<li><i class="icon-align-justify"></i> icon-align-justify</li>
<li><i class="icon-list"></i> icon-list</li>
<li><i class="icon-indent-left"></i> icon-indent-left</li>
<li><i class="icon-indent-right"></i> icon-indent-right</li>
<li><i class="icon-facetime-video"></i> icon-facetime-video</li>
<li><i class="icon-picture"></i> icon-picture</li>
<li><i class="icon-pencil"></i> icon-pencil</li>
<li><i class="icon-map-marker"></i> icon-map-marker</li>
<li><i class="icon-adjust"></i> icon-adjust</li>
<li><i class="icon-tint"></i> icon-tint</li>
<li><i class="icon-edit"></i> icon-edit</li>
<li><i class="icon-share"></i> icon-share</li>
<li><i class="icon-check"></i> icon-check</li>
<li><i class="icon-move"></i> icon-move</li>
<li><i class="icon-step-backward"></i> icon-step-backward</li>
<li><i class="icon-fast-backward"></i> icon-fast-backward</li>
</ul></div>
<div class="span3">
<ul class="unstyled">
<li><i class="icon-backward"></i> icon-backward</li>
<li><i class="icon-play"></i> icon-play</li>
<li><i class="icon-pause"></i> icon-pause</li>
<li><i class="icon-stop"></i> icon-stop</li>
<li><i class="icon-forward"></i> icon-forward</li>
<li><i class="icon-fast-forward"></i> icon-fast-forward</li>
<li><i class="icon-step-forward"></i> icon-step-forward</li>
<li><i class="icon-eject"></i> icon-eject</li>
<li><i class="icon-chevron-left"></i> icon-chevron-left</li>
<li><i class="icon-chevron-right"></i> icon-chevron-right</li>
<li><i class="icon-plus-sign"></i> icon-plus-sign</li>
<li><i class="icon-minus-sign"></i> icon-minus-sign</li>
<li><i class="icon-remove-sign"></i> icon-remove-sign</li>
<li><i class="icon-ok-sign"></i> icon-ok-sign</li>
<li><i class="icon-question-sign"></i> icon-question-sign</li>
<li><i class="icon-info-sign"></i> icon-info-sign</li>
<li><i class="icon-screenshot"></i> icon-screenshot</li>
<li><i class="icon-remove-circle"></i> icon-remove-circle</li>
<li><i class="icon-ok-circle"></i> icon-ok-circle</li>
<li><i class="icon-ban-circle"></i> icon-ban-circle</li>
<li><i class="icon-arrow-left"></i> icon-arrow-left</li>
<li><i class="icon-arrow-right"></i> icon-arrow-right</li>
<li><i class="icon-arrow-up"></i> icon-arrow-up</li>
<li><i class="icon-arrow-down"></i> icon-arrow-down</li>
<li><i class="icon-share-alt"></i> icon-share-alt</li>
<li><i class="icon-resize-full"></i> icon-resize-full</li>
<li><i class="icon-resize-small"></i> icon-resize-small</li>
<li><i class="icon-plus"></i> icon-plus</li>
<li><i class="icon-minus"></i> icon-minus</li>
<li><i class="icon-asterisk"></i> icon-asterisk</li>
<li><i class="icon-exclamation-sign"></i> icon-exclamation-sign</li>
<li><i class="icon-gift"></i> icon-gift</li>
<li><i class="icon-leaf"></i> icon-leaf</li>
<li><i class="icon-fire"></i> icon-fire</li>
<li><i class="icon-eye-open"></i> icon-eye-open</li>
</ul></div>
<div class="span3">
<ul class="unstyled">
<li><i class="icon-eye-close"></i> icon-eye-close</li>
<li><i class="icon-warning-sign"></i> icon-warning-sign</li>
<li><i class="icon-plane"></i> icon-plane</li>
<li><i class="icon-calendar"></i> icon-calendar</li>
<li><i class="icon-random"></i> icon-random</li>
<li><i class="icon-comment"></i> icon-comment</li>
<li><i class="icon-magnet"></i> icon-magnet</li>
<li><i class="icon-chevron-up"></i> icon-chevron-up</li>
<li><i class="icon-chevron-down"></i> icon-chevron-down</li>
<li><i class="icon-retweet"></i> icon-retweet</li>
<li><i class="icon-shopping-cart"></i> icon-shopping-cart</li>
<li><i class="icon-folder-close"></i> icon-folder-close</li>
<li><i class="icon-folder-open"></i> icon-folder-open</li>
<li><i class="icon-resize-vertical"></i> icon-resize-vertical</li>
<li><i class="icon-resize-horizontal"></i> icon-resize-horizontal</li>
<li><i class="icon-hdd"></i> icon-hdd</li>
<li><i class="icon-bullhorn"></i> icon-bullhorn</li>
<li><i class="icon-bell"></i> icon-bell</li>
<li><i class="icon-certificate"></i> icon-certificate</li>
<li><i class="icon-thumbs-up"></i> icon-thumbs-up</li>
<li><i class="icon-thumbs-down"></i> icon-thumbs-down</li>
<li><i class="icon-hand-right"></i> icon-hand-right</li>
<li><i class="icon-hand-left"></i> icon-hand-left</li>
<li><i class="icon-hand-up"></i> icon-hand-up</li>
<li><i class="icon-hand-down"></i> icon-hand-down</li>
<li><i class="icon-circle-arrow-right"></i> icon-circle-arrow-right</li>
<li><i class="icon-circle-arrow-left"></i> icon-circle-arrow-left</li>
<li><i class="icon-circle-arrow-up"></i> icon-circle-arrow-up</li>
<li><i class="icon-circle-arrow-down"></i> icon-circle-arrow-down</li>
<li><i class="icon-globe"></i> icon-globe</li>
<li><i class="icon-wrench"></i> icon-wrench</li>
<li><i class="icon-tasks"></i> icon-tasks</li>
<li><i class="icon-filter"></i> icon-filter</li>
<li><i class="icon-briefcase"></i> icon-briefcase</li>
<li><i class="icon-fullscreen"></i> icon-fullscreen</li>
</ul></div>
<p /></div>
					<!-- end content -->
				
							
			 		
            
        </div>
    </div></div>

	<!--FOOTER-->
    <footer>
    	<div class="container">
        	<div class="row">
            	 <!-- widget --> 
                <div class="span3">
                <h6>Developer Theme</h6><hr /><div class="text-widget">					<img class="widgetlogo" alt="" src="./img/small_logo.png" />
					<p>The Internet isn’t just on your computer screen anymore. It’s also on your phone, your tablet, your laptop, and god knows what else in the next few years. So when you visit AWES webpage, morph to ideally match the size and shape of the screen you’re viewing it on.</p>
				</div>                </div>
<!-- end widget -->
 <!-- widget -->
				<div class="span3">
					<h6>TWITTER</h6><hr />				<div id="jstwitter" class="clearfix">
					<ul id="twitter_update_list"></ul>
				</div>
				<script src="http://twitter.com/javascripts/blogger.js"></script>
				<script src="http://twitter.com/statuses/user_timeline/mojothemes.json?callback=twitterCallback2&count=3"></script>
							</div>
                <!-- end widget -->
				
                <!-- widget -->
				<div class="span3">
					<h6>FLICKR</h6><hr />				<div id="flickr_badge_wrapper" class="clearfix">
					<script src="http://www.flickr.com/badge_code_v2.gne?count=8&display=Random&size=s&layout=x&source=user&user=29609591@N08"></script>
				</div>
							</div>
                <!-- end widget -->
				
                <!-- widget -->
				<div class="span3">
					<h6>Contact info</h6><hr /><p>
            <i class="icon-map-marker icon-white"></i> PO Box 21177 Little Lonsdale St, Melbourne Victoria 8011 Australia<br />
            <i class="icon-user  icon-white"></i> +61 (0) 3 8376 6284<br />
            <i class="icon-envelope icon-white"></i> <a href="mailto:example@yourdomain.com">example@yourdomain.com</a></p>
              
            
        				</div>
                <!-- end widget -->
                
            </div>
        </div>
    	<hr class="bottom" />
        <div class="bottom_line">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <span style="font-size:11px;">© 2012 AWES Responsive HTML5 Template. Collect from <a href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a></span>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!--/FOOTER-->
    <script src="./js/custom.js"></script>
    
 <!--[if IE]>
    <script type="text/javascript">
        runFancy = false;
    </script>
    <![endif]-->
    <script type="text/javascript">
		if (runFancy) {
			jQuery.noConflict()(function($){
			$(".view").preloader();
			$(".theme-default").preloader();
			});
		};
    </script>


	</body>
</html>
