
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>AWES HTML5 Template | Responsive Portfolio Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
       <!-- IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lte IE 8]>
    	<link rel="stylesheet" type="text/css" href="./css/ie.css" />
		<![endif]-->
        
        <!-- Favicon and Apple Touch Icons -->
        <link rel="shortcut icon" href="./img/ico/favicon.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./img/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./img/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./img/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="./img/ico/apple-touch-icon-57-precomposed.png" />
         
        
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<style>
   h1, h2, h3, h4, h5, h6, #menu a {font-family:Open Sans !important;}
</style>

<link rel='stylesheet' id='opensans-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&ver=3.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css' href='./css/bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrapresponsive-css' href='./css/bootstrap-responsive.css' type='text/css' media='all' />
<link rel='stylesheet' id='main-css' href='./css/main.css' type='text/css' media='all' />
<link rel='stylesheet' id='googleprettify-css' href='./assets/google-code-prettify/prettify.css' type='text/css' media='all' />
<link rel='stylesheet' id='nivoslider-css' href='./assets/nivo/nivo-slider.css' type='text/css' media='all' />
<link rel='stylesheet' id='prettyphoto-css' href='./css/prettyPhoto.css' type='text/css' media='all' />
<script type='text/javascript' src='./js/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='./assets/LayerSlider/js/jquery-easing-1.3.js'></script>

<script type='text/javascript' src='./js/bootstrap.min.js'></script>
<script type='text/javascript' src='./js/application.js'></script>
<script type='text/javascript' src='./js/superfish-menu/superfish.js'></script>
<script type='text/javascript' src='./js/jquery.nivo.slider.pack.js'></script>
<script type='text/javascript' src='./js/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='./js/slides.min.jquery.js'></script>
<script type='text/javascript' src='./js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='./js/testimonialrotator.js'></script>
<script type='text/javascript' src='./js/jquery.waitforimages.js'></script>
<script type='text/javascript' src='./js/jquery.preloader.js'></script>

    <link class="skin" href="./styles/green.css" rel="stylesheet" type="text/css" />
        
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<!--TOP-->
    <div id="TopContentInset">
  	<div class="top_line">
    	<div class="container">
        	<div class="row">
            	<div class="span6">
					<p class="feed">AWES is a responsive template for showing your work and everyone in the world.</p>
    			</div>
                <div class="span6 soc_icons">
						<a target="_blank" href="#"><div class="icon_rss"></div></a><a target="_blank" href="#"><div class="icon_dribbble"></div></a><a target="_blank" href="#"><div class="icon_forrst"></div></a><a target="_blank" href="#"><div class="icon_lastfm"></div></a><a target="_blank" href="#"><div class="icon_vimeo"></div></a><a target="_blank" href="#"><div class="icon_youtube"></div></a><a target="_blank" href="#"><div class="icon_pinterest"></div></a><a target="_blank" href="#"><div class="icon_linkedin"></div></a><a target="_blank" href="#"><div class="icon_skype"></div></a><a target="_blank" href="#"><div class="icon_flickr"></div></a><a target="_blank" href="#"><div class="icon_picasa"></div></a><a target="_blank" href="#"><div class="icon_google"></div></a><a target="_blank" href="#"><div class="icon_t"></div></a><a target="_blank" href="#"><div class="icon_facebook"></div></a>                </div>
    		</div>
    	</div>
    </div></div>
    <div id="TopTrigger">+</div>
    <!--/TOP-->
    <div class="page_head">
    	<div class="container">
        	<div class="row">
            	<div class="span4">
                	<div class="logo">
                    	<a href="./index.html"><img src="./img/logo.png" alt="AWES" title="Responsive HTML5 Template" /></a>
                    </div>
                </div>
                <div class="span8">
                	<nav>
                    <div class="menu-right-bg"></div>
                    <div class="menu-bg">
<ul id="menu">
<li><a href="./index.html">Home +</a>
<ul>
	<li><a href="./index-2.html">Home Without Slider</a></li>
</ul>
</li>
<li><a href="./portfolio-4columns.html">Portfolio +</a>
<ul>
	<li><a href="#">Portfolio Types</a>
	<ul>
		<li><a href="./portfolio-slider.html">Portfolio With Slider</a></li>
		<li><a href="./portfolio-video.html">Portfolio With Video</a></li>
		<li><a href="./portfolio-single.html">Portfolio With Image</a></li>
	</ul>
</li>
	<li><a href="./portfolio-6columns.html">Portfolio 6 Columns</a></li>
	<li><a href="./portfolio-4columns.html">Portfolio 4 Columns</a></li>
	<li><a href="./portfolio-3columns.html">Portfolio 3 Columns</a></li>
	<li><a href="./portfolio-2columns.html">Portfolio 2 Columns</a></li>
</ul>
</li>
<li><a href="./blog.html">Blog</a></li>
<li><a href="./elements.html">Features +</a>
<ul>
	<li><a href="./elements.html">Template Elements</a></li>
	<li><a href="./typography.html">Typography</a></li>
	<li><a href="./full-width.html">Full Width Page</a></li>
	<li><a href="./sitemap.html">Sitemap</a></li>
	<li><a href="./404.html">404 Page</a></li>
</ul>
</li>
<li><a href="./contact.html">Contact</a></li>
<li><a target="_blank" href="#">Purchase Now</a></li>
</ul>                    </div><div class="menu-left-bg"></div>
                    </nav>
                </div>
    		</div>
    	</div>
    </div>
     
    <!--PAGE CONTENT-->


    <div class="container" style="margin-bottom:50px;">
    	<div class="row">
        	<div class="span12">
            
            	<div class="row">

                    <div class="span6"><div class="row">
                        <div class="presentation">
			
			
			
                        	                            	<div class="span6 sep_bg">
                            		<h1><span class="colored">WELCOME</span><br />WE ARE A CREATIVE AGENCY</h1>
                            	</div>                                                                <div class="span6">
                                                                     <h3 class="titlemore"><span class="slash-colored">//</span> About AWES Template</h3>                                     			<p>We made sure that our page will work correctly in browsers. It works in IE7, IE8, IE9, Firefox, Opera and Safari.</p>
<div class="row">
<div class="span2">
<ul class="unstyled" style="font-size: 11px; margin-bottom: 10px;">
<li><em class="icon-user"></em> Built for and by nerds</li>
<li><em class="icon-th"></em> 12-column grid</li>
<li><em class="icon-resize-horizontal"></em> Max-width 1200px</li>
<li><em class="icon-book"></em> Growing library</li>
</ul>
</div>
<div class="span2">
<ul class="unstyled" style="font-size: 11px; margin-bottom: 10px;">
<li><em class="icon-resize-small"></em> Responsive design</li>
<li><em class="icon-eye-open"></em> Cross-everything</li>
<li><em class="icon-list-alt"></em> Styleguide docs</li>
<li><em class="icon-cog"></em> jQuery plugins</li>
</ul>
</div>
<div class="span2">
<ul class="unstyled" style="font-size: 11px; margin-bottom: 10px;">
<li><em class="icon-user"></em> Built for and by nerds</li>
<li><em class="icon-th"></em> 12-column grid</li>
<li><em class="icon-resize-horizontal"></em> Max-width 1200px</li>
<li><em class="icon-book"></em> Growing library</li>
</ul>
</div>
</div>
<hr />
<a target="_blank" href="#" class="featbtn2">Purchase Now That Great Template Only 25$</a><p />
</div>          </div></div>
                         
                                
                                
                                <div class="clearfix"></div>
                                
                                
                                    <div id="slides"><div class="margintop30"></div>
                                        <div class="titlemore">
                                            <h3 class="pull-left" style="margin-bottom:0px;"><span class="slash-colored">//</span> Latest Post From the blog</h3>
                                            <div class="pull-right"><a href="#" class="prev"></a><a href="#" class="next"></a></div>
                                        <div class="clearfix"></div>
                                        </div>
                                        <div class="slides_container">
                                                                                        <div class="row">
                                                <div class="span3">
                                                    <div class="view view-first nolink noshadow">
                                                        <img src="./img/blog/p1-full-740x400.jpg" alt="" />
 
                                                      
                                                        <div class="mask">
                                                          <a href="./img/blog/p1-full.jpg" rel="prettyPhoto" class="info"></a>
                                                        </div>
                                                    </div>
                                                    
                                               <div class="meta hidden-phone"><br /><br /><br /><br /><br /><br />
                                    <h3 style="text-align:right">May 11, 2012 </h3><div class="margintop10"></div>
                                    <span><i class="icon-list-alt"></i> <a href="./blog.html" title="View all posts in software" rel="category">software</a> &nbsp;&nbsp;&nbsp; 
                                    <i class="icon-user"></i>  admin  &nbsp;&nbsp;&nbsp;
                                    <i class="icon-comment"></i> <a href="./blog-single.html" title="Comment on Your Responsive Design">3 Comments</a> </span>
                                    <hr />
                                    
            
                                </div>
                                                </div>
                                                <div class="span3">
                                                     <h4><a href="./blog-single.html">Your Responsive Design</a></h4>
                                             <div class="margintop10"></div>
                                                    
                                                 <p>Praesent erat ipsum, vulputate at eleifend ut, molestie at lacusticusolan. Ut non ipsum massa. Duis viverra convallis feugiat. Aliquam purus velit, iaculis nec tristique id, porta quislorem. Vivamus et enim pellentesque dui mattis scelerisque eget eu nibh. Praesent in auctor arcu.Etiam accumsan malesuada enim&#8230;</p>
                                                <div class="read-more"><a href="./blog-single.html">Read more &rarr;</a></div>
                                                </div>
                                            </div>                                            <div class="row">
                                                <div class="span3">
                                                    <div class="view view-first nolink noshadow">
                                                        <img src="./img/blog/p2-full-740x400.jpg" alt="" />
 
                                                      
                                                        <div class="mask">
                                                          <a href="./img/blog/p2-full.jpg" rel="prettyPhoto" class="info"></a>
                                                        </div>
                                                    </div>
                                                    
                                               <div class="meta hidden-phone"><br /><br /><br /><br /><br /><br />
                                    <h3 style="text-align:right">May 11, 2012 </h3><div class="margintop10"></div>
                                    <span><i class="icon-list-alt"></i> <a href="./blog.html" title="View all posts in software" rel="category">software</a> &nbsp;&nbsp;&nbsp; 
                                    <i class="icon-user"></i>  admin  &nbsp;&nbsp;&nbsp;
                                    <i class="icon-comment"></i> <a href="./blog-single.html" title="Comment on Design New Graphics">3 Comments</a> </span>
                                    <hr />
                                    
            
                                </div>
                                                </div>
                                                <div class="span3">
                                                     <h4><a href="./blog-single.html">Design New Graphics</a></h4>
                                             <div class="margintop10"></div>
                                                    
                                                 <p>Praesent erat ipsum, vulputate at eleifend ut, molestie at lacusticusolan. Ut non ipsum massa. Duis viverra convallis feugiat. Aliquam purus velit, iaculis nec tristique id, porta quislorem. Vivamus et enim pellentesque dui mattis scelerisque eget eu nibh. Praesent in auctor arcu. Etiam accumsan malesuada&#8230;</p>
                                                <div class="read-more"><a href="./blog-single.html">Read more &rarr;</a></div>
                                                </div>
                                            </div>                                            <div class="row">
                                                <div class="span3">
                                                    <div class="view view-first nolink noshadow">
                                                        <img src="./img/blog/p3-full1-740x400.jpg" alt="" />
 
                                                      
                                                        <div class="mask">
                                                          <a href="http://awes.wpelement.com/img/blog/p3-full1.jpg" rel="prettyPhoto" class="info"></a>
                                                        </div>
                                                    </div>
                                                    
                                               <div class="meta hidden-phone"><br /><br /><br /><br /><br /><br />
                                    <h3 style="text-align:right">May 11, 2012 </h3><div class="margintop10"></div>
                                    <span><i class="icon-list-alt"></i> <a href="./blog.html" title="View all posts in mobile" rel="category">mobile</a> &nbsp;&nbsp;&nbsp; 
                                    <i class="icon-user"></i>  admin  &nbsp;&nbsp;&nbsp;
                                    <i class="icon-comment"></i> <a href="./blog-single.html" title="Comment on How to Retouch an Image">3 Comments</a> </span>
                                    <hr />
                                    
            
                                </div>
                                                </div>
                                                <div class="span3">
                                                     <h4><a href="./blog-single.html">How to Retouch an Image</a></h4>
                                             <div class="margintop10"></div>
                                                    
                                                 <p>Praesent erat ipsum, vulputate at eleifend ut, molestie at lacus. Ut non ipsum massa. Duis viverra convallis feugiat. Aliquam purus velit, iaculis nec tristique id, porta quis lorem. Vivamus et enim pellentesque dui mattis scelerisque eget eu nibh. Praesent in auctor arcu. Etiam accumsan&#8230;</p>
                                                <div class="read-more"><a href="./blog-single.html">Read more &rarr;</a></div>
                                                </div>
                                            </div>                                            <div class="row">
                                                <div class="span3">
                                                    <div class="view view-first nolink noshadow">
                                                        <img src="./img/blog/p6-full-740x400.jpg" alt="" />
 
                                                      
                                                        <div class="mask">
                                                          <a href="./img/blog/p6-full.jpg" rel="prettyPhoto" class="info"></a>
                                                        </div>
                                                    </div>
                                                    
                                               <div class="meta hidden-phone"><br /><br /><br /><br /><br /><br />
                                    <h3 style="text-align:right">May 11, 2012 </h3><div class="margintop10"></div>
                                    <span><i class="icon-list-alt"></i> <a href="./blog.html" title="View all posts in general" rel="category">general</a> &nbsp;&nbsp;&nbsp; 
                                    <i class="icon-user"></i>  admin  &nbsp;&nbsp;&nbsp;
                                    <i class="icon-comment"></i> <a href="./blog-single.html" title="Comment on Insert A New Code In A File">3 Comments</a> </span>
                                    <hr />
                                    
            
                                </div>
                                                </div>
                                                <div class="span3">
                                                     <h4><a href="./blog-single.html">Insert A New Code In A File</a></h4>
                                             <div class="margintop10"></div>
                                                    
                                                 <p>Praesent erat ipsum, vulputate at eleifend ut, molestie at lacus. Ut non ipsum massa. Duis viverra convallis feugiat. Aliquam purus velit, iaculis nec tristique id In accumsan lorem eu mauris vehicula gravida. Nullam nec odio at lacus molestie rhoncus sit amet eu ante. Sed&#8230;</p>
                                                <div class="read-more"><a href="./blog-single.html">Read more &rarr;</a></div>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </div>
                                <div class="clearfix"></div>
            
                                
                                
 
                            
                    </div>
		    
                   
           
               <div class="span6">
                       <h3 class="titlemore"><span class="slash-colored">//</span> Latest Projects</h3>					<div class="row">
                    
					
  
                        

                    	
                                                    <div class="span2 block">
                                <div class="view view-first">
                                    
                                                    <img src="./img/portfolio/8-460x460.png" alt="" />
 
                                    <div class="mask">
                                        <a href="./img/portfolio/8.png" rel="prettyPhoto" class="info"></a>
                                                    <a href="./portfolio-slider.html" class="link"></a>
                                    </div>
                                 </div>
                                 <div class="descr">
                                    <h6><a href="./portfolio-slider.html">Portfolio With Slider</a></h6>
                                 </div>
                            </div>
						
                           
                                                      <div class="span2 block">
                                <div class="view view-first">
                                    
                                                    <img src="./img/portfolio/7-460x460.png" alt="" />
 
                                    <div class="mask">
                                        <a href="./img/portfolio/7.png" rel="prettyPhoto" class="info"></a>
                                                    <a href="./portfolio-video.html" class="link"></a>
                                    </div>
                                 </div>
                                 <div class="descr">
                                    <h6><a href="./portfolio-video.html">Portfolio With Video</a></h6>
                                 </div>
                            </div>
						
                           
                                                      <div class="span2 block">
                                <div class="view view-first">
                                    
                                                    <img src="./img/portfolio/5-460x460.png" alt="" />
 
                                    <div class="mask">
                                        <a href="./img/portfolio/5.png" rel="prettyPhoto" class="info"></a>
                                                    <a href="./portfolio-single.html" class="link"></a>
                                    </div>
                                 </div>
                                 <div class="descr">
                                    <h6><a href="./portfolio-single.html">Standart Portfolio</a></h6>
                                 </div>
                            </div>
						
                           
                                                      <div class="span2 block">
                                <div class="view view-first">
                                    
                                                    <img src="./img/portfolio/4-460x460.png" alt="" />
 
                                    <div class="mask">
                                        <a href="./img/portfolio/4.png" rel="prettyPhoto" class="info"></a>
                                                    <a href="./portfolio-single.html" class="link"></a>
                                    </div>
                                 </div>
                                 <div class="descr">
                                    <h6><a href="./portfolio-single.html">Mobile App</a></h6>
                                 </div>
                            </div>
						
                           
                                                      <div class="span2 block">
                                <div class="view view-first">
                                    
                                                    <img src="./img/portfolio/10-460x460.png" alt="" />
 
                                    <div class="mask">
                                        <a href="./img/portfolio/10.png" rel="prettyPhoto" class="info"></a>
                                                    <a href="./portfolio-single.html" class="link"></a>
                                    </div>
                                 </div>
                                 <div class="descr">
                                    <h6><a href="./portfolio-single.html">Best Design</a></h6>
                                 </div>
                            </div>
						
                           
                                                      <div class="span2 block">
                                <div class="view view-first">
                                    
                                                    <img src="./img/portfolio/3-460x460.png" alt="" />
 
                                    <div class="mask">
                                        <a href="./img/portfolio/3.png" rel="prettyPhoto" class="info"></a>
                                                    <a href="./portfolio-single.html" class="link"></a>
                                    </div>
                                 </div>
                                 <div class="descr">
                                    <h6><a href="./portfolio-single.html">Some Project</a></h6>
                                 </div>
                            </div>
						
                           
                                                      <div class="span2 block">
                                <div class="view view-first">
                                    
                                                    <img src="./img/portfolio/6-460x460.png" alt="" />
 
                                    <div class="mask">
                                        <a href="./img/portfolio/6.png" rel="prettyPhoto" class="info"></a>
                                                    <a href="./portfolio-single.html" class="link"></a>
                                    </div>
                                 </div>
                                 <div class="descr">
                                    <h6><a href="./portfolio-single.html">Mobile Web Design</a></h6>
                                 </div>
                            </div>
						
                           
                                                      <div class="span2 block">
                                <div class="view view-first">
                                    
                                                    <img src="./img/portfolio/12-460x460.png" alt="" />
 
                                    <div class="mask">
                                        <a href="./img/portfolio/12.png" rel="prettyPhoto" class="info"></a>
                                                    <a href="./portfolio-single.html" class="link"></a>
                                    </div>
                                 </div>
                                 <div class="descr">
                                    <h6><a href="./portfolio-single.html">Another Motion</a></h6>
                                 </div>
                            </div>
						
                           
                                                      <div class="span2 block">
                                <div class="view view-first">
                                    
                                                    <img src="./img/portfolio/9-460x460.png" alt="" />
 
                                    <div class="mask">
                                        <a href="./img/portfolio/9.png" rel="prettyPhoto" class="info"></a>
                                                    <a href="./portfolio-single.html" class="link"></a>
                                    </div>
                                 </div>
                                 <div class="descr">
                                    <h6><a href="./portfolio-single.html">Fresh Project</a></h6>
                                 </div>
                            </div>
						
                           
                                                      
                        </div></div></div>
            <div class="row">
                                            <div class="span12">
                                <div class="hero-unit sep_bg">
                                	<h1><b>So what are you waiting for?</b></h1><p>AWES has been coded in HTML5 & CSS3 and jQuery. AWES has a solid flexible responsive layout for showing your work to everyone in the world! </p><p /><a class="featbtn" href="#"><b>BUY THIS TEMPLATE ONLY 25$</b></a>
                                </div></div></div>
                                                                 <div class="clearfix"></div>
                                                                
                                	
                                        <h3 class="titlemore"><span class="slash-colored">//</span> Clients</h3>
                                        <div class="row">
                                            <div class="span12">
                                                <div class="row">
                                                
                                                    <div class="span2 block">
                                                        <div class="view view-first noinfo">
                                                    <img class="bordered" src="./img/portfolio/cl1.jpg" alt="" />
                                                            <div class="mask">
                                                                <a href="#" class="link"></a>
                                                            </div>
                                                        </div>
                                                    </div>
													
                                                        <div class="span2 block">
                                        	<div class="view view-first noinfo">
                                                <img class="bordered" src="./img/portfolio/cl2.jpg" alt="" />
                                                <div class="mask">
                                                    <a href="#" class="link"></a>
                                                </div>
                                            </div>
                                        </div>
										
                                        <div class="span2 block">
                                        	<div class="view view-first noinfo">
                                                <img class="bordered" src="./img/portfolio/cl3.jpg" alt="" />
                                                <div class="mask">
                                                    <a href="#" class="link"></a>
                                                </div>
                                            </div>
                                        </div>
										
                                        <div class="span2 block">
                                        	<div class="view view-first noinfo">
                                                <img class="bordered" src="./img/portfolio/cl4.jpg" alt="" />
                                                <div class="mask">
                                                    <a href="#" class="link"></a>
                                                </div>
                                            </div>
                                        </div>
										
                                        <div class="span2 block">
                                        	<div class="view view-first noinfo">
                                                <img class="bordered" src="./img/portfolio/cl5.jpg" alt="" />
                                                <div class="mask">
                                                    <a href="#" class="link"></a>
                                                </div>
                                            </div>
                                        </div>
										
                                        <div class="span2 block">
                                        	<div class="view view-first noinfo">
                                                <img class="bordered" src="./img/portfolio/cl11.jpg" alt="" />
                                                <div class="mask">
                                                    <a href="#" class="link"></a>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                            
                                            <div class=" span6 clearfix"><hr style="margin-top:0px;" /></div>
                                            
                                            
                                            
                         
                                   
                                   </div>
                                  
                                                                
                    </div></div>
                    </div>
                    
                    
                    
                
            
    <!--PAGE CONTENT-->

    <!--FOOTER-->
    <footer>
    	<div class="container">
        	<div class="row">
            	 <!-- widget --> 
                <div class="span3">
                <h6>Developer Theme</h6><hr /><div class="text-widget">					<img class="widgetlogo" alt="" src="./img/small_logo.png" />
					<p>The Internet isn’t just on your computer screen anymore. It’s also on your phone, your tablet, your laptop, and god knows what else in the next few years. So when you visit AWES webpage, morph to ideally match the size and shape of the screen you’re viewing it on.</p>
				</div>                </div>
<!-- end widget -->
 <!-- widget -->
				<div class="span3">
					<h6>TWITTER</h6><hr />				<div id="jstwitter" class="clearfix">
					<ul id="twitter_update_list"></ul>
				</div>
				<script src="http://twitter.com/javascripts/blogger.js"></script>
				<script src="http://twitter.com/statuses/user_timeline/mojothemes.json?callback=twitterCallback2&count=3"></script>
							</div>
                <!-- end widget -->
				
                <!-- widget -->
				<div class="span3">
					<h6>FLICKR</h6><hr />				<div id="flickr_badge_wrapper" class="clearfix">
					<script src="http://www.flickr.com/badge_code_v2.gne?count=8&display=Random&size=s&layout=x&source=user&user=29609591@N08"></script>
				</div>
							</div>
                <!-- end widget -->
				
                <!-- widget -->
				<div class="span3">
					<h6>Contact info</h6><hr /><p>
            <i class="icon-map-marker icon-white"></i> PO Box 21177 Little Lonsdale St, Melbourne Victoria 8011 Australia<br />
            <i class="icon-user  icon-white"></i> +61 (0) 3 8376 6284<br />
            <i class="icon-envelope icon-white"></i> <a href="mailto:example@yourdomain.com">example@yourdomain.com</a></p>
              
            
        				</div>
                <!-- end widget -->
                
            </div>
        </div>
    	<hr class="bottom" />
        <div class="bottom_line">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <span style="font-size:11px;">© 2012 AWES Responsive HTML5 Template. Collect from <a href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a></span>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!--/FOOTER-->
    <script src="./js/custom.js"></script>
    
 <!--[if IE]>
    <script type="text/javascript">
        runFancy = false;
    </script>
    <![endif]-->
    <script type="text/javascript">
		if (runFancy) {
			jQuery.noConflict()(function($){
			$(".view").preloader();
			$(".theme-default").preloader();
			});
		};
    </script>


	</body>
</html>

  
