
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>AWES HTML5 Template | Responsive Portfolio Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
       <!-- IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lte IE 8]>
    	<link rel="stylesheet" type="text/css" href="./css/ie.css" />
		<![endif]-->
        
        <!-- Favicon and Apple Touch Icons -->
        <link rel="shortcut icon" href="./img/ico/favicon.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./img/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./img/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./img/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="./img/ico/apple-touch-icon-57-precomposed.png" />
         
        
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<style>
   h1, h2, h3, h4, h5, h6, #menu a {font-family:Open Sans !important;}
</style>

<link rel='stylesheet' id='opensans-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&ver=3.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css' href='./css/bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrapresponsive-css' href='./css/bootstrap-responsive.css' type='text/css' media='all' />
<link rel='stylesheet' id='main-css' href='./css/main.css' type='text/css' media='all' />
<link rel='stylesheet' id='googleprettify-css' href='./assets/google-code-prettify/prettify.css' type='text/css' media='all' />
<link rel='stylesheet' id='nivoslider-css' href='./assets/nivo/nivo-slider.css' type='text/css' media='all' />
<link rel='stylesheet' id='prettyphoto-css' href='./css/prettyPhoto.css' type='text/css' media='all' />
<script type='text/javascript' src='./js/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='./assets/LayerSlider/js/jquery-easing-1.3.js'></script>

<script type='text/javascript' src='./js/bootstrap.min.js'></script>
<script type='text/javascript' src='./js/application.js'></script>
<script type='text/javascript' src='./js/superfish-menu/superfish.js'></script>
<script type='text/javascript' src='./js/jquery.nivo.slider.pack.js'></script>
<script type='text/javascript' src='./js/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='./js/slides.min.jquery.js'></script>
<script type='text/javascript' src='./js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='./js/testimonialrotator.js'></script>
<script type='text/javascript' src='./js/jquery.waitforimages.js'></script>
<script type='text/javascript' src='./js/jquery.preloader.js'></script>

    <link class="skin" href="./styles/green.css" rel="stylesheet" type="text/css" />
        
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<!--TOP-->
    <div id="TopContentInset">
  	<div class="top_line">
    	<div class="container">
        	<div class="row">
            	<div class="span6">
					<p class="feed">AWES is a responsive template for showing your work and everyone in the world.</p>
    			</div>
                <div class="span6 soc_icons">
						<a target="_blank" href="#"><div class="icon_rss"></div></a><a target="_blank" href="#"><div class="icon_dribbble"></div></a><a target="_blank" href="#"><div class="icon_forrst"></div></a><a target="_blank" href="#"><div class="icon_lastfm"></div></a><a target="_blank" href="#"><div class="icon_vimeo"></div></a><a target="_blank" href="#"><div class="icon_youtube"></div></a><a target="_blank" href="#"><div class="icon_pinterest"></div></a><a target="_blank" href="#"><div class="icon_linkedin"></div></a><a target="_blank" href="#"><div class="icon_skype"></div></a><a target="_blank" href="#"><div class="icon_flickr"></div></a><a target="_blank" href="#"><div class="icon_picasa"></div></a><a target="_blank" href="#"><div class="icon_google"></div></a><a target="_blank" href="#"><div class="icon_t"></div></a><a target="_blank" href="#"><div class="icon_facebook"></div></a>                </div>
    		</div>
    	</div>
    </div></div>
    <div id="TopTrigger">+</div>
    <!--/TOP-->
    <div class="page_head">
    	<div class="container">
        	<div class="row">
            	<div class="span4">
                	<div class="logo">
                    	<a href="./index.html"><img src="./img/logo.png" alt="AWES" title="Responsive HTML5 Template" /></a>
                    </div>
                </div>
                <div class="span8">
                	<nav>
                    <div class="menu-right-bg"></div>
                    <div class="menu-bg">
<ul id="menu">
<li><a href="./index.html">Home +</a>
<ul>
	<li><a href="./index-2.html">Home Without Slider</a></li>
</ul>
</li>
<li><a href="./portfolio-4columns.html">Portfolio +</a>
<ul>
	<li><a href="#">Portfolio Types</a>
	<ul>
		<li><a href="./portfolio-slider.html">Portfolio With Slider</a></li>
		<li><a href="./portfolio-video.html">Portfolio With Video</a></li>
		<li><a href="./portfolio-single.html">Portfolio With Image</a></li>
	</ul>
</li>
	<li><a href="./portfolio-6columns.html">Portfolio 6 Columns</a></li>
	<li><a href="./portfolio-4columns.html">Portfolio 4 Columns</a></li>
	<li><a href="./portfolio-3columns.html">Portfolio 3 Columns</a></li>
	<li><a href="./portfolio-2columns.html">Portfolio 2 Columns</a></li>
</ul>
</li>
<li><a href="./blog.html">Blog</a></li>
<li><a href="./elements.html">Features +</a>
<ul>
	<li><a href="./elements.html">Template Elements</a></li>
	<li><a href="./typography.html">Typography</a></li>
	<li><a href="./full-width.html">Full Width Page</a></li>
	<li><a href="./sitemap.html">Sitemap</a></li>
	<li><a href="./404.html">404 Page</a></li>
</ul>
</li>
<li><a href="./contact.html">Contact</a></li>
<li><a target="_blank" href="#">Purchase Now</a></li>
</ul>                    </div><div class="menu-left-bg"></div>
                    </nav>
                </div>
    		</div>
    	</div>
    </div>
 <!--WELCOME AREA-->
    <div class="gray_bg">
    <div class="container">
        <div class="row">
            <div class="span12">
            <div class="welcome">
                       <h1><span class="colored">Blog</span><span class="grey_colored"> / latest news</span></h1>
          
            </div></div>
        </div>
    </div></div>
    <!--/WELCOME AREA-->  
   <!--PAGE CONTENT-->

                <div class="margintop30"></div>  
                <div class="container">              
            <div class="row">
				<div class="span3">
                        	<div class="price price-active">
                                <div class="well">
                                    <h6 class="sep_bg"><span class="label label-inverse">Latest 10 Project</span></h6>
                                    <ul class="unstyled">
                                                                             <li><a href="./portfolio-single.html">Portfolio With Slider</a></li>
                                                                             <li><a href="./portfolio-single.html">Fresh Project</a></li>
                                                                             <li><a href="./portfolio-single.html">3D Model</a></li>
                                                                             <li><a href="./portfolio-single.html">Mobile App</a></li>
                                                                             <li><a href="./portfolio-single.html">Best Design</a></li>
                                                                             <li><a href="./portfolio-single.html">Some Project</a></li>
                                                                             <li><a href="./portfolio-single.html">Mobile Web Design</a></li>
                                                                             <li><a href="./portfolio-single.html">Another Motion</a></li>
                                                                             <li><a href="./portfolio-single.html">Some Project</a></li>
                                                                             <li><a href="./portfolio-single.html">Your Responsive</a></li>
                                         
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                                    <div class="span3">
                        	<div class="price price-active">
                                <div class="well">
                                <h6 class="sep_bg"><span class="label label-inverse">Latest 20 Posts</span></h6>
                                    <ul class="unstyled">
                                                            <li>
                      <a href="./blog-single.html">Your Responsive Design</a>                  		</li>
                                                            <li>
                      <a href="./blog-single.html">Design New Graphics</a>                  		</li>
                                                            <li>
                      <a href="./blog-single.html">How to Retouch an Image</a>                  		</li>
                                                            <li>
                      <a href="./blog-single.html">Insert A New Code In A File</a>                  		</li>
                                                            <li>
                      <a href="./blog-single.html">Inspiration: Packaging Design</a>                  		</li>
                                                            <li>
                      <a href="./blog-single.html">Tips for on Top Design Blogs</a>                  		</li>
                                                            <li>
                      <a href="./blog-single.html">iPad Giveaway from DealPixel</a>                  		</li>
                                                            <li>
                      <a href="./blog-single.html">The Piano House</a>                  		</li>
                                                            <li>
                      <a href="./blog-single.html">Snowboarding in Complete Darkness</a>                  		</li>
                                                            <li>
                      <a href="./blog-single.html">Starry Night Light Installations</a>                  		</li>
                                                            <li>
                      <a href="./blog-single.html">iPhone Diorama</a>                  		</li>
                                         
                                    </ul>
                                </div>
                            </div>
                        </div>
                         <div class="span2">
                        	<div class="price price-active">
                                <div class="well">
                                    <h6 class="sep_bg"><span class="label label-inverse">Archives by Cat.</span></h6>
                                    <ul class="unstyled">
                                     	<li class="cat-item cat-item-4"><a href="./blog-single.html" title="View all posts filed under design">design</a>
</li>
	<li class="cat-item cat-item-10"><a href="./blog-single.html" title="View all posts filed under general">general</a>
</li>
	<li class="cat-item cat-item-7"><a href="./blog-single.html" title="View all posts filed under jquery">jquery</a>
</li>
	<li class="cat-item cat-item-8"><a href="./blog-single.html" title="View all posts filed under mobile">mobile</a>
</li>
	<li class="cat-item cat-item-11"><a href="./blog-single.html" title="View all posts filed under software">software</a>
</li>
	<li class="cat-item cat-item-12"><a href="./blog-single.html" title="View all posts filed under wordpress">wordpress</a>
</li>
    
                                    </ul>
                                </div>
                            </div>
                            <div class="price price-active">
                                <div class="well">
                                    <h6 class="sep_bg"><span class="label label-inverse">Archives by Month</span></h6>
                                    <ul class="unstyled">
                                     	<li><a href='./blog.html' title='May 2012'>May 2012</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        
                        <!-- end row -->
  <div class="span4 sidebar hidden-phone">
            

			<!-- SEARCH - WIDGET -->
				 
<form method="get" action="/" /> 
 <div style="margin-left:25px;" class="input-append">
                <input placeholder="Enter Your Keyword..." class="span3" name="s" id="appendedInputButton" value="" size="16" type="text" />
                <button id="searchsubmit" class="btn btn-success visible-desktop" type="submit"> Go! </button>
              </div>
</form>


			<!-- end SEARCH - WIDGET -->

			<!-- WIDGET -->
			<div class="well"><h4 class="sep_bg">ABOUT US</h4><div class="text-widget">					<img class="widgetlogo" alt="" src="./img/small_logo.png" />
					<p>The Internet isn’t just on your computer screen anymore. It’s also on your phone, your tablet, your laptop, and god knows what else in the next few years. So when you visit AWES webpage, morph to ideally match the size and shape of the screen you’re viewing it on.</p>
				</div></div>			<!-- end WIDGET -->
		
			<!-- WIDGET -->
			<div class="well"><h4 class="sep_bg">Video Widget</h4>			<div class="textwidget"><p><iframe src="http://player.vimeo.com/video/28321798?title=0&byline=0&portrait=0&color=4cb3ad" width="100%" height="200" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></p>
</div>
		</div>			<!-- end WIDGET -->
			
			<!-- WIDGET -->
			<div class="well"><h4 class="sep_bg">FEATURED POSTS</h4><div class="featured-posts">				<!--item-->
				<div class="item">
					<a href="./blog-single.html" class="image-box">
						<img width="70" height="52" src="./img/blog/p1-full-70x52.jpg" alt="iPhone Diorama" title="" />					</a>
					<div class="info">
						<h4><a href="./blog-single.html">iPhone Diorama</a></h4>
						<p>Praesent erat ipsum, vulputate at eleifend ut, molestie at lacus. Ut non ...</p>
					</div>
				</div>
				<!--item-->
							<!--item-->
				<div class="item">
					<a href="./blog-single.html" class="image-box">
						<img width="70" height="52" src="./img/blog/p5-full-70x52.jpg" alt="Design New Graphics" title="" />					</a>
					<div class="info">
						<h4><a href="./blog-single.html">Design New Graphics</a></h4>
						<p>Praesent erat ipsum, vulputate at eleifend ut, molestie at lacusticusolan. ...</p>
					</div>
				</div>
				<!--item-->
							<!--item-->
				<div class="item">
					<a href="./blog-single.html" class="image-box">
						<img width="70" height="52" src="./img/blog/p3-full1-70x52.jpg" alt="How to Retouch an Image" title="" />					</a>
					<div class="info">
						<h4><a href="./blog-single.html">How to Retouch an Image</a></h4>
						<p>Praesent erat ipsum, vulputate at eleifend ut, molestie at lacus. Ut non ...</p>
					</div>
				</div>
				<!--item-->
							<!--item-->
				<div class="item">
					<a href="./blog-single.html" class="image-box">
						<img width="70" height="52" src="./img/blog/p6-full-70x52.jpg" alt="Insert A New Code In A File" title="" />					</a>
					<div class="info">
						<h4><a href="./blog-single.html">Insert A New Code In A File</a></h4>
						<p>Praesent erat ipsum, vulputate at eleifend ut, molestie at lacus. Ut non ...</p>
					</div>
				</div>
				<!--item-->
			</div></div>			<!-- end WIDGET -->
            
            <!-- WIDGET -->
			<div class="well"><h4 class="sep_bg">CATEGORIES</h4><ul class="nav nav-pills nav-stacked">
            						<li><a href="#"><i class="icon-star-empty"></i> &nbsp;design</a></li>
									<li><a href="#"><i class="icon-star-empty"></i> &nbsp;general</a></li>
									<li><a href="#"><i class="icon-star-empty"></i> &nbsp;jquery</a></li>
									<li><a href="#"><i class="icon-star-empty"></i> &nbsp;mobile</a></li>
									<li><a href="#"><i class="icon-star-empty"></i> &nbsp;software</a></li>
									<li><a href="#"><i class="icon-star-empty"></i> &nbsp;wordpress</a></li>
				</ul></div>			<!-- end WIDGET -->


            <!-- WIDGET -->
			<div class="well"><h4 class="sep_bg">Audio Widget</h4>			<div class="textwidget"><p><iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F43305433&auto_play=false&show_artwork=true&color=c32222"></iframe></p>
</div>
		</div>			<!-- end WIDGET -->
        
</div></div>
      
    </div>
    <!--FOOTER-->
    <footer>
    	<div class="container">
        	<div class="row">
            	 <!-- widget --> 
                <div class="span3">
                <h6>Developer Theme</h6><hr /><div class="text-widget">					<img class="widgetlogo" alt="" src="./img/small_logo.png" />
					<p>The Internet isn’t just on your computer screen anymore. It’s also on your phone, your tablet, your laptop, and god knows what else in the next few years. So when you visit AWES webpage, morph to ideally match the size and shape of the screen you’re viewing it on.</p>
				</div>                </div>
<!-- end widget -->
 <!-- widget -->
				<div class="span3">
					<h6>TWITTER</h6><hr />				<div id="jstwitter" class="clearfix">
					<ul id="twitter_update_list"></ul>
				</div>
				<script src="http://twitter.com/javascripts/blogger.js"></script>
				<script src="http://twitter.com/statuses/user_timeline/mojothemes.json?callback=twitterCallback2&count=3"></script>
							</div>
                <!-- end widget -->
				
                <!-- widget -->
				<div class="span3">
					<h6>FLICKR</h6><hr />				<div id="flickr_badge_wrapper" class="clearfix">
					<script src="http://www.flickr.com/badge_code_v2.gne?count=8&display=Random&size=s&layout=x&source=user&user=29609591@N08"></script>
				</div>
							</div>
                <!-- end widget -->
				
                <!-- widget -->
				<div class="span3">
					<h6>Contact info</h6><hr /><p>
            <i class="icon-map-marker icon-white"></i> PO Box 21177 Little Lonsdale St, Melbourne Victoria 8011 Australia<br />
            <i class="icon-user  icon-white"></i> +61 (0) 3 8376 6284<br />
            <i class="icon-envelope icon-white"></i> <a href="mailto:example@yourdomain.com">example@yourdomain.com</a></p>
              
            
        				</div>
                <!-- end widget -->
                
            </div>
        </div>
    	<hr class="bottom" />
        <div class="bottom_line">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <span style="font-size:11px;">© 2012 AWES Responsive HTML5 Template. Collect from <a href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a></span>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!--/FOOTER-->
    <script src="./js/custom.js"></script>
    
 <!--[if IE]>
    <script type="text/javascript">
        runFancy = false;
    </script>
    <![endif]-->
    <script type="text/javascript">
		if (runFancy) {
			jQuery.noConflict()(function($){
			$(".view").preloader();
			$(".theme-default").preloader();
			});
		};
    </script>


	</body>
</html>
