/*HUISHIATC*/
body {
	background-color: #fff;
	position: relative;
	font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
}
a,a:hover,a:focus{ 
text-decoration: none;
}
li{
	list-style: none;
}
.navbar-inverse {
z-index:1;
}
.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;;
	font-size: 16px;
}
.thumbnail{
	margin-bottom:15px;
}
.flash-img img{
	height: 450px;
}
.span-ico{
	margin-right: 15px;
}
.corlor-small{
	color: #a9afb3;
}
.p20{
	padding: 20px 40px;
}
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
.page-header {
    border-bottom: 1px solid #ddd;
    margin: 40px 0 20px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}
.media{
	border-bottom:1px dashed #ddd;
	padding-bottom:10px;
}
.media-object{
	width:60px;
	height:60px;
	border-radius:50%;
}
.media-body h4{
	padding:5px 0;
	margin-bottom:0px;
}
.media-body small span{
	margin-right:20px;
}
.navbar{
	margin-bottom: 0px;
	border: 0px;
}
.navbar-brand{
	padding:1px 10px;
	height: 52px;
}

.dropdown-menu {
}
.navbar-nav > li > .dropdown-menu {
    text-align:center;
	font-size:14px;
	min-width:100%;
}
.navbar-nav > li > a{
	padding-top:18px;
	padding-bottom:18px;
}
.navbar-nav > li > .dropdown-article {
    text-align:center;
	font-size:12px;
	min-width:100%;
}
img.Brand{height:50px;}
.dropdown-menu .divider{
	background-color:#dddddd;
}
.navbar-inverse .navbar-text .phone-ico {
	margin-right: 10px;
}

.navbar-nav .login .btn {
	background: none repeat scroll 0 0 #2a2c2e;
	border: 2px solid #d9534f;
	border-radius: 15px;
	color: #d9534f;
	cursor: pointer;
	display: block;
	font-family: '微软雅黑';
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	width: 84px;
	margin-left: 20px;
}
.navbar-nav .login .btn:hover{
	background-color: #d9534f;
	color: fff;
}

.navbar-inverse .navbar-text{
	font-size:18px;
	color: #d9534f;
	margin: 30px 0 30px 15px;
}
.navbar-btn{
	margin-bottom:9px;
	margin-top:9px;
}
.login-btn{
	background-color:#1E8366;
	border: 2px solid #1E8366;
	width: 80px;
	color: #ffffff;
	font-size: 15px;
}
.login-btn:hover,.login-btn:focus{
	background-color: #34AB89;
	border: 2px solid #34AB89;
	color: #ffffff;
}
/* 页面头部幻灯片 */
.masthead {
	color: #fff;
	margin-bottom: 10px;
	margin-top: -40px;
	padding: 40px 0 80px;
	
}
.splash {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1000;
}
.splash img {
	height: 100%;
	width: 100%;
}
.jumbotron{
	background-color:#ceedff;
	padding-top:0px;
	padding-bottom: 0px;
	margin-bottom: 20px;
}
.jumbotron > .container{
	padding:48px 0px;
	background:url("../images/hdtopbg.png") no-repeat ;
}
.jumbotron h4{
	margin-bottom: 15px;
	font-size: 18px;

}
.jumbotron p {
	font-size: 14px;
	color: #777;

}
.masthead p {
	color: #fff;
	font-size: 1.4em;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 60px;
}
.masthead .bigbtn {
	background-color: #34633B;
	background-image: -moz-linear-gradient(center bottom , rgb(255, 96, 43) 1%, rgb(255, 148, 67) 100%);
	border: medium none;
	border-radius: 2.8em;
	box-shadow: 0 1px 0 #34633B inset, 0 0 0 1px #24633B, 0 0 0 7px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.6);

	color: #fff;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	overflow: visible;
	padding: 0.3em 1.4em;
	text-decoration: none;
	text-shadow: 0 1px 0 #912e01;
	text-transform: uppercase;
}
#banner-pagination ul {
	list-style: none outside none;
	margin: 20px 0 0;
	padding: 0px;
}
#banner-pagination ul li {
	display: inline;
	text-align: center;
	width: 25px;
	line-height: 20px;
}

.item img{
	max-width: none;
	width: auto;
	height: auto;
}
.navbar-nt{
	margin-bottom: 20px;
}
/*
 * 首页课程
 */
.course h4{
	font-size: 16px;
}
.course .caption h4{
    font-size: 13px;
	overflow: hidden;
	width: 100%;
	line-height: 15px;
	height: 15px;
   
}
.course .thumbnail .caption p{
    color: #777;
   
}
.thumbnail:hover{
	box-shadow: 0 3px 10px #999;
}
.nav-tabs{
	margin-bottom: 10px;
}
.course-cat{
	color: #555;
	letter-spacing:2px;
}
.course-zhangjie{
	text-indent: 1.4em;
	
}
.course-xiaojie{
	text-indent: 4.1em;
	font-size: 14px;
	
}
.table .course-xiaojie td {
	border-top-style: dashed;
}
/*
 * 首页广告区域
 */
.box-sh:hover{
	box-shadow: 0 3px 10px #999;
}
.ad{
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    
}
.ad-list{
	padding: 10px;
}
.ad >.ad-list > ul {
	margin-top:20px;
	margin-bottom: 10px;
	padding-left: 0px;
}
.ad >.ad-list > ul >li {

	margin-bottom: 20px;
}
.ad >.ad-list > ul >li a{

	white-space:nowrap;
}
.add-2 span,.add-2 small,.add-2 p{
	color: #777;
}
.add-2 .col-lg-2{
	width: 20%;
}
.list-d{
	background-image: -moz-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    border: 0 none;
    height: 1px;
    margin: 10px 0;
}
.ad3 .panel-footer{
	font-size: 12px;
	color: #777;
}
.ad3 .panel-body{
	padding: 5px;
}
.ad3 img{
	margin: 0 auto;
}
.user-img-list img{
	margin-bottom: 10px;
}
.school-list .col-lg-2{
	width: 16%;
}
.school-list{
	color: #777;
	margin: 0 auto;
}
.school-list .col-lg-2{
	margin: 3px;
	height: 30px;
	line-height: 30px;
	
}
/*
 * 首页直播
 */
 .online-course{
 	margin-top: 20px;
 }
.online-course .tab-content,.course-des .tab-content{
	background-color: #fff;
}
.panel-heading h5{
	margin: 0px;
}
.online-course .panel-body{
	background:url("../img/laba.png") no-repeat;
}
.panel-body p{
	font-size: 12px;
}
.panel-heading span,.course-type .panel-body strong span{
	color:#1D906F;
	margin-right:5px;
}
.oc-list{	
	border: 1px solid #ddd;
	margin-bottom: 20px;
	background-color: #fff;
	border-top: 0;
	padding: 10px 10px 0 10px;

}
#Introduction{
	padding:0px;

}
.ad3 .oc-list{	

	padding: 10px;
}
.oc-date {
	margin-bottom: 0px;
}
.panel{
	padding: 0;
}
/*
 * jion  us 区域
 */
#joinus {
    background: none repeat scroll 0 0 #5BC29B;
    clear: both;
    margin-bottom: 10px;
}
#joinus h2 {
    color: #ffffff;
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
}
#joinus ul {
    list-style: none outside none;
    overflow: hidden;
    padding: 30px 0 0 55px;
}
#joinus ul li {
    color: #52585a;
    cursor: pointer;
    float: left;
    height: 90px;
    margin-right: 15px;
    transition: all 0.25s ease 0s;
    width: 100px;
}
#joinus ul li:hover, #joinus ul li.active {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 3px #ccc;
}
#joinus ul li:hover .pics, #joinus ul li.active .pics {
    opacity: 1;
}
#joinus ul li .pics {
    float: left;
    margin-right: 10px;
    opacity: 0.8;
}
#joinus h5 {
    font-size: 14px;
    margin-top: 20px;
}
#joinus p {
    color: #fff;
    font-size: 12px;
}
.memberShow{width:100%;height:240px;position:relative;margin:20px auto;overflow: hidden;}
.memberShow li{float:left;overflow:hidden;margin:0 1px 1px 0;}
.memberShow li.upPic{width:201px;height:101px;}
.memberShow li.memLI{height:100px;margin-bottom:18px;}
.memberShow .popInfo{display:none;position:absolute;top:0;left:0;z-index:10;padding:2px;background:#62D2AC;width:210px;height:105px;overflow:hidden;}
.memberShow .popInfo img{width:100px;position:relative;z-index:3;}
.memberShow .popInfo p{width:100px;padding:0 10px;height:100px;line-height:48px;color:#fff;position:relative;z-index:2;overflow:hidden;}
.memberShow .layerMode{display:none;position:absolute;background:#177660;filter:Alpha(Opacity=50);opacity:0.5;top:0;left:0;width:100%;height:240px;z-index:3;}
.memberShow .imgShadow1{
	-moz-box-shadow:2px 0px 2px #9f9f9f;
    -webkit-box-shadow:2px 0px 2px #9f9f9f;
    box-shadow:2px 0px 2px #9f9f9f;
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#5f5f5f')";
    /* For IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#5f5f5f');
}
.memberShow .imgShadow2{
	-moz-box-shadow:-2px 0px 2px #9f9f9f;
    -webkit-box-shadow:-2px 0px 2px #9f9f9f;
    box-shadow:-2px 0px 2px #9f9f9f;
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=270, Color='#5f5f5f')";
    /* For IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=270, Color='#5f5f5f');
}
#speak {
    background: none repeat scroll 0 0 #404243;
    border: 3px solid #d9534f;
    color: #b5bdc0;
    font-family: "微软雅黑";
    font-size: 15px;
    height: 90px;
    line-height: 1.6;
    margin: 40px auto 0;
    padding: 15px 30px;
    position: relative;
    width: 870px;
}
.arrowdown {
    border-color: #d9534f transparent transparent;
    border-style: solid dashed dashed;
    border-width: 13px;
    display: block;
    height: 0;
    left: 106px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 0;
}
.arrowdown-white {
    border-color: #fff transparent transparent;
}
#icons {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 2px 2px #daddde;
    color: #8e999d;
    font-family: "微软雅黑";
    font-size: 15px;
    margin: 42px auto;
    padding: 30px;
    position: relative;
    text-align: center;
    width: 870px;
}
#icons .arrowdown-png {
    background: url("img/sprit.png") no-repeat scroll -2px 0 rgba(0, 0, 0, 0);
    bottom: -15px;
    display: block;
    height: 15px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 35px;
}
.icontit {
    overflow: hidden;
    padding: 15px 30px 0 34px;
}
.icontit h3 {
    float: left;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    width: 305px;
}
.icontit h3.last {
    float: right;
    text-align: center;
    width: 178px;
}

/*
 * 底部区域
 */
.footer{
	background: #449E84;
	padding:20px 0px;
	color: #ffffff;
    font-size: 12px;
}
#footer-logo{
	
	width: 150px;
	height: auto;
	
}
.footer p{
	line-height: 22px;
}
span.tongji {
	display: none;
}
.border-right{
	border-right: 1px solid #fff;
	height:200px;
}
.footer-nav{
	height:100%;
}
.footer-nav,.footer-nav h4{
	text-align: center;
}
.footer-nav ul{
	padding-left: 0px;
}
.footer-nav ul.links{
	width: 208px;
}
.footer-nav ul.links li{
	width: 90px;
	float: left;
	overflow:hidden;
}
.footer a{
	color:#fff;
	text-decoration: none;
}
.footer >li>a:hover,.footer >li>a:focus{
	color: #000;
}
.links {
	line-height: 30px;
}
.footer h3{
	margin: 0;
	padding:0 0 10px 0;
}
.links  img{
-webkit-filter: grayscale(100%); 
-moz-filter: grayscale(100%); 
-ms-filter: grayscale(100%); 
-o-filter: grayscale(100%); 
filter: grayscale(100%); 
filter: gray; 
}
#weixin{	
	border-radius: 5px;
	width: 80%;
	float: right;
}
.footer-list{
	line-height:26px;
}

.attention a {
    background: url("../img/gotoTop.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   
    height: 32px;
    line-height: 32PX;
    display: block;
    margin-right: 11px;
    margin-top: 15px;
    opacity: 0.5;
    overflow: hidden;
    text-indent: -99em;
    width: 32px;
    margin: 20px auto;
}
.attention a:hover,.attention a:focus{
	opacity: 1;
}
 #sinaweibo {
    background-position: -48px -96px;
}
 #qzone {
    background-position: 0 -96px;
}
#qqweibo {
    background-position: -96px -96px;
}
.footer-bbs{
	background-color: #449E84;
	height: 40px;
	line-height: 40px;
	color: #fff;
}
.footer-min{
	background-color:#449E84;
	height: 40px;
	color: #ffffff;
    overflow: hidden;
}
.footer-min p{
	height:40px;
	line-height: 40px;
	font-size: 12px;
}
/*课程中心*/
.course-type .panel-heading h3,.couse-list .panel-heading h3{
	color:#1D906F;
	font-weight: bold;
}
.couse-list .panel-heading h3 small a{
	font-size:12px;
	color: #be3948;
	margin-top: 5px;
}
.course-type .btn{
	border-radius: 0px;
	margin-left: 0px;
}
.course-type .btn-active,.couse-list .btn-active{
    background-color: #34AB89;
    border-color: #34AB89;
    color: #fff;
}
.pd-10{
	padding: 0 10px;
}
.course-type .panel-body a:hover,.course-type .panel-body a:focus{
	background-color: #5ac3a5;
    border-color: #5ac3a5;
    color: #fff;
}
.course-type .btn-group .btn + .btn{
    margin-left: 0px;
    margin-bottom: 10px;
}
.course-type .panel-body{
	padding: 20px 15px 10px 15px;
}
.course-type .panel-body strong{
	color: #5e5e5e;
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	
}
.course-type .panel {
	margin-bottom: 10px;
}
.course-type hr{
	margin-top: 0px;
}
.search{
	margin-bottom: 10px;
}
.couse-list .caption p{
	margin-bottom: 0px;
}
.couse-list .caption h5{
	display: block;
	margin: 5px 0;
	overflow: hidden;
	width: 100%;
	font-size: 14px;
	line-height: 14px;
	height: 14px;
	font-weight: normal;
    padding-left: 5px;
}
.couse-list .col-lg-4{
    padding-left: 8px;
    padding-right: 8px;

}
.course-teacher{
	vertical-align: middle;
	padding-top: 10px;
}
.loading{
	margin: 10px auto;
}
/*课程详情页*/
.course-title{
	background-color:#fff;
	margin-bottom: 10px;
	
}
.course-des .nav-tabs a{
	color: #be3948;
    font-weight: bold;
}
.course-title .col-lg-1,.course-title .col-lg-4,.course-title .col-lg-6,.course-title .col-lg-6 img{
	 height: 342px;
	
}
.course-title .col-lg-2,.course-title  .col-lg-4{
	background-color: #ddd;
	padding: 0px;
}
.course-des .col-lg-9,.course-des .col-lg-3{
	padding: 0px;
}
.course-title .col-lg-2 ul,.course-title  .col-lg-4 ul{
	padding-left: 0px;
	text-align: center;
	margin-bottom: 0px;
	
}
.course-title .col-lg-2 ul li{
	padding: 32px 0;
	height: 114px;
	
}
.course-title .col-lg-2 ul li:hover{
	background-color: #fff;
}
.course-title .col-lg-2 .course-price{
		padding: 12px 0;
}
.course-title .col-lg-2 .course-price strong{
	font-size: 18px;
}
.course-title .col-lg-2 ul li p{
	
	color: #656e73;
	font-size: 14px;
}
.course-title .col-lg-2 ul li strong{
	color: #363d40;
	font-size: 24px;
}
.border-bottom{
	border-bottom: 1px solid #e8e8e8;
}
.course-title .col-lg-6{
	padding: 0px;
}
.course-title .col-lg-6 img{
	width: 100%;
}
.c-des{
	background-color: #363d40;
	height: 228px;
	padding: 20px;
	overflow: hidden;
}
.c-des p{
	color: #ccc;
	text-align: left;
	line-height: 1.3;
	overflow: hidden;
}
.c-btn{
	background-color: #ddd;
	height: 114px;
	padding: 35px 0;
}
.course-des .nav-tabs{
	margin-bottom: 0px;
}
.course-des .tab-content .oc-list img{
	max-width: 100%;
	height: auto;
}
.course-des .tab-content .oc-list p{
	line-height: 28px;
}
.course-des .panel{
	margin-left: 10px;
}
.course-des hr{
	margin: 10px 0;
}
.course-des .panel-body strong {
    
    font-size: 14px;
}
.course-des .panel-body small{
	line-height: 28px;
}
.teacher-name img{
	margin: 0 10px;
	
	}
.course-title .col-lg-2 .teacher-name {
	padding-top: 22px;
}
.teacher-name h3{
	margin-top: 8px;
}
 .img-active:hover{ 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}
#qaa{
	padding: 20px;
}
#qaa ul li{
	border-bottom: 1px dashed #ddd;
}
#qaa ul li h4{
	color:#be3948 ;
}
#qaa ul li p{
	padding-left: 20px;
	color: #555;
}
.ground{
	background-color: #5cb85c;
	padding: 8px 15px 5px 15px;
	margin-bottom: 10px;
	font-size: 13px;
	color: #fff;
	border-radius: 4px;
}
.ground ul{
	margin-bottom: 0px;
}
.ground ul li{
	padding: 0 5px;
}
.ground ul li a{
	color: #fff;
}
.ground ul .cg a{
	color:#a94442;
}
/*面包屑导航*/
.urlpatch .container{
	padding-left: 0px;
}
.container .breadcrumb{
	background-color: transparent;
	padding: 0px;
	margin-bottom: 10px;
}
.container .breadcrumb{
	
}
/*公开课详情页*/
.opencourse-list .table tr td,.opencourse-list .table thead tr th{
	border-top:none;
}
.opencourse-list .table thead tr th{
	border-bottom:none;
}
.opencourse-list .table tbody tr{
	border-top: 1px solid #ddd;
}
.opencourse-list .table thead tr{
	border-bottom: 2px solid #ddd;
}
.opencourse-list .table tbody tr .btn{
	width: 70px;
}
.course-des .course-type .btn {
    border-radius: 4px;
    color: #fff;
}
/*公开课播放详情页*/
.video-bg {
	 margin-bottom: 0px;
}
.video-bg .col-lg-12{
	padding: 0;
}
.feature{
	background-color: #fff;
	 margin-bottom: 10px;
	 color:#5e5e5e ;
}
.feature .container{
	padding: 0px;
}
.feature ul{
	margin: 0px;
	padding: 0px;
}
.feature ul li{
	line-height: 50px;
	height: 50px;
	float: left;
	padding-right: 40px;
}
.feature .play-btn{
	padding-right: 0px;
	padding-left: 42px;
}
.feature .play-btn .btn{
	width: 60px;
}

/*直播列表页*/
.zhibo .nav-tabs > li {
	float: none;
}
.zhibo  .nav-tabs > li.active > a,.zhibo .nav-tabs > li.active > a:hover,.zhibo .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #fff #ddd #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #C12E2A;
    cursor: default;
    font-weight: bold;
}
.zhibo {
	margin-bottom: 20px;
}
.zhibo  .nav-tabs  li a:hover{
	 background-color: #fff;
}
.zhibo .col-lg-2{
padding: 0;
}
.zhibo .col-lg-10{
	padding-left: 0px;
}
.zhibo .nav-tabs{
	border: 0px;
}
.zhibo .nav-tabs > li{
	margin-bottom: 10px;
	text-align: center;
}
.zhibo .nav-tabs > li > a {
    border: 1px solid #ddd;
    border-radius:0;
   color: #777;
     z-index: 9999;
     border-right: #fff;;
}
.zhibo .tab-pane{
	border: 1px solid #ddd;
	min-height: 620px;
	background-color: #fff;
	margin-left: -3px;
	padding: 0 20px 20px 20px;
    
	 
}
.zhibo-time, .zhibo-des, .zhibo-img{
	height: 300px;
}
.zhibo-time{
	background-color:#b4bbbf;
	color: #fff;
	vertical-align: middle;
	padding-top:30px ;
}
.zhibo-time:hover,.zhibo-time:focus{
	background-color: #363d40;
	color: #ccc;
}
.zhibo-time h2,.zhibo-time h3{
}
.zhibo-des{
	background-color: #363d40;
	color: #ccc;
	padding: 20px;
	font-size: 12px;
	padding-top: 60px;
}
.zhibo-des:hover,.zhibo-des:focus{
	background-color:#b4bbbf;
	color: #000;
}
.zhibo-img{
	background-color: #fff;
	padding: 0px 1px;
	
}
.zhibo-img img{
	height: 300px;
}
.zhibo .page-header{
margin-top: 0px;	
margin-bottom: 10px;
}
.zhibo-curse-des{
	margin-top: 20px;
}
.zhibo-curse-des strong{
	margin-bottom: 10px;
	display: block;
}
.time-active{
	color: #000;
}
/*博客列表页*/
.bolg-act-list p,.soft-des p {
    font-size: 14px;
    color: #777;
    line-height: 24px;
}
.hot-down-list ol{
	padding: 0;
}
.hot-down-list ol li{
	list-style:inherit;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	margin-bottom: 10px;
}

.course-type .hot-down-list ol li a:hover,.course-type .hot-down-list ol li a:focus{
	background-color: transparent;
	color: #2a6496;
	
}
/*博客详情页*/
.bolg-content{
	font-size: 14px;
	line-height: 24px;
	padding:0 10px;
}
.bolg-content img{
	max-width: 100%;
	height: auto;
	margin:10px 0;
}
.bolg-content p{
	font-size: 14px;
	line-height: 28px;
}

.blog-header{
	margin: 0 10px 10px 10px;
}

.blog-header h3 a{
	color:#d9534f;
}
/*活动列表页*/
 .hlist ul{
	padding-left: 0px;
 }
 .hlist ul li{
	background-color: #fff;
	padding:15px;
 	margin-bottom: 20px;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
 }
 .hlist ul li h4{
 	margin-top: 24px;
 }
.hlist ul li a{
	color:  #428bca;
}

 .weixinbox{
 	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
 	background-color: #fff;
 	padding:15px;
 	margin-bottom: 20px;
 }
 .hlist img{
	width:100%;
	height: 260px;
 }
.news{
	margin-top: -20px;
}
.wd2{
	width:20%;
}
.wd3{
	width:30%;
}
.wd4{
	width:40%;
	
}
.wd5{
	width:50%;
}
.wd6{
	width:60%;
	
}
.wd7{
	width:70%;
}
.wd8{
	width:80%;
}
.newlist img{
	width: 100%;
	height: 315px;
}
.newlist {
	background-color: #b4bbbf;
	color: #363d40;
	margin-top: 20px;
	height: 315px;
	margin-bottom: 20px;
}
.newlist .wd3{

}
.newlist .wd3 ul{
	padding: 0;
	height: 315px;
	margin-bottom: 0;
}
.newlist .wd3 ul li{
	padding: 10px 5px;
}
.newlist .wd3 ul li:hover{
	background-color:#363d40;
	color: #777;
}
.news-title a{
	color:  #d9534f;
	
}
.news-title{
	height: 105px;
}
.news-des{
	line-height: 28px;
	height: 145px;
}
.news-btn{
	
	height: 65px;
}
.news .carousel-caption .btn{
	border-radius: 2.8em;
	font-size: 24px;
	padding: 0.3em 1.4em;
	 text-shadow: 0 1px 0 #912e01;
    text-transform: uppercase;
}
.news .bigbtn {
    background-color: #34633b;
    background-image: -moz-linear-gradient(center bottom , rgb(255, 96, 43) 1%, rgb(255, 148, 67) 100%);
    border: medium none;
    border-radius: 2.8em;
    box-shadow: 0 1px 0 #34633b inset, 0 0 0 1px #24633b, 0 0 0 7px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    overflow: visible;
    padding: 0.3em 1.4em;
    text-decoration: none;
    text-shadow: 0 1px 0 #912e01;
    text-transform: uppercase;
  
}
/*活动详情页*/
.news-title h1 a{
	color: #d9534f;
}
/*关我们单页*/
.single-page{
	margin-top: 20px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
    z-index: 2;
}
.single-page .list-group a{
	font-size: 18px;
	
	padding:15px 0 15px 80px;
}
.single-page .panel-heading{
	 padding:15px;
	 font-size: 18px
    
}
.single-page .panel-body{
	font-size: 14px;
	line-height: 24px;
}
.single-page .panel-body img{
	height: auto;
	margin: 10px 0;
}
.single-page .panel-body span img{
	width:100%;
	height: auto;
	margin: 10px 0;
}
/*登录*/
.login-page{	
	background-color: #F3F3F3;
	margin-top: -20px;
	padding-bottom: 40px;
    padding-top: 40px;
    min-height: 500px;
	
}
.login-page .login-from{
	background: #FFFFFF;
	padding: 40px;
	padding-bottom: 20px;
	border-top: 3px solid #41D0B0;

}
.login-page .page-header, .login-page .page-header h3{
	margin: 0px;
	
}
/*用户中心*/
.user-page-header{
	margin-top: -20px;
	
}
.user-page-header .container{
	padding-top: 20px;
}

.user-img ul{
	margin-bottom: 0px;
}
.user-img ul li{
	padding: 15px;
}
.user-logo{
    position: relative;
	background-color: #fff;
	float: none;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	margin-bottom:10px;
}
.user-logo img{
	width: 100%;
	height: auto;
}
.user-logo span{
	width: 100%;
	display:none;
	height:24px;
	bottom:0px;
	text-align:center;
	color: #fefefe;
	background-color: #333;
	line-height:24px;
    position: absolute;
}
.user-logo:hover span{
	display:block;
}
.user-nav{
	padding: 15px 15px;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	margin-bottom: 30px;
}
.user-nav ul{
	margin: 0px 0px 15px 0px;
	padding: 0;
}

.user-nav ul li{
	margin: 0px;
	padding: 0;
	margin-bottom: 12px;
}
.user-nav-list2 a:hover,.user-nav-list2 a:focus{
	background-color: #4B9E8B;
	color: #fff;
}
.user-nav-list2{
   
	line-height: 40px;
}
.user-nav h4{
	margin: 20px 0;
}
.user-nav-list2 a{
	display: block;
	background-color: #F8FFFF;
	border: 1px solid #D0F4EB;
	color: #30A997;
	border-radius: 0px;
}
.user-nav-list2 .active a{
	display: block;
	background-color: #4B9E8B;
	color: #fff;
	
}
.user-nav-list2 .border-bottom{
	border-bottom: 1px solid #fff;
}
.info-header{
	padding: 10px 15px;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	margin-bottom: 20px;
	margin-left: 15px;
	color: #666666;
}
.info-header ul{
	border-right: 1px solid #e8e8e8;
}
.info-header ul li{
	float:left;
	width: 92%;
	font-size: 16px;
	line-height: 50px;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;
}
.info-header ul li.medal{
	float:left;
	width: 100%;
	font-size: 16px;
	line-height: 50px;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;
}
.huibi{
	color: #fc5a00;
	
}
.info-header .text-success{
	color: #5cb85c;
}
.info-header .text-error{
	color: red;
}
.user-course-list{
	padding: 0px 20px;
	border-radius: 3px;
	margin-bottom: 5px;
	margin-left: 20px;
	color: #666666;
}
.user-course-list ul{
	padding-left: 0px;
}
.user-course-list .page-header {
	padding-left:0px;
	margin-top:0px;
	color:#419484;
}
/*订单支付*/
.code-list option{
	padding: 5px;
}
.order-pay-page li{
	padding: 10px 0;
	border-bottom: 1px dashed #777;
}
.order-pay-page .pay-way{
	border-bottom: 0px;
}
/*
 * 认证考试列表页
 */
 .rzbox .nav-tabs{
 	margin-bottom: 0px;
 }
  .rzbox .nav-tabs a{
 	color:#8e999d;
 }
.rzbox .tab-content{
	padding: 25px;
	background-color: #fff;	
	border: 1px solid #DDDDDD;
	border-top:0px;
	margin-bottom: 20px;
	border-radius:0 4px 4px 4px;
}
.rz-list {
	background-color:#ddd;
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 14px;
}
.rz-list img,.rztop img{
	width: 100%;
	height: auto;
}
.rz-list ul{
	margin: 0px;
	padding: 0px;
	padding-top: 10px;	
}
.rz-list ul li{
	padding: 10px 10px;
	border-bottom: 1px solid #f6f6f6;
}.rz-list ul .rz-time{
	border-bottom:none;
}
.rz-list ul li h3{
	margin: 0px;
	color:#d9534f ;
}
.rz-list ul li h3 a{
	
	color:#d9534f ;
}
/*
 * 认证详情页
 */
.cer-title .panel-heading{
	color: #be3948;
}
.cer-title .panel-heading h4{
	margin: 0;
}
.cer-title .panel-body p{
	font-size: 14px;
}
.urlpatch .cer{
	 padding-left: 15px;
}
.cer-auto{
	padding-bottom: 20px;
	
}
.cer-auto ul li{
	padding: 5px 0;
}
.cer-auto-des{
	border-bottom: 3px solid #be3948;
}
.mgl5{
	margin-right: 5px;
}
/* 公开课播放页面 */
.user-talk{
	font-size:12px;
	padding: 10px 10px 10px 0;
}
.user-talk .list-group{
	OVERFLOW-Y:auto;
	OVERFLOW-X:hidden; 
	height: 380px;
}

.user-talk .media-body{
	font-size: 11px;
}
.user-talk .list-group-item{
	padding: 10px 8px;
	
}
.user-talk h5{
	border-bottom: 1px dashed #ddd;
	padding-bottom: 6px;
}
.user-talk .panel-heading{
	font-size:14px;
}
.user-talk .pull-left img{
	width:42px;
	height: 42px;
	vertical-align: middle;
}
.user-talk #msgboxs{
	color:#4082D6;
	text-align:center;
	vertical-align: middle;
}
.user-talk .talkclick{
	width: 10%;
}
.user-talk #talk {
	width: 90%;
}
/*银行列表*/
#myTabContent .tab-pane{
	padding:20px;

}
#bankpay ul li input[type="radio"]{
	margin-left: 10x;
}
#bankpay ul li {
	padding-bottom: 15px;
}
.ui-list-icons li{float:left;width:166px;margin-bottom:8px;margin-right:10px; list-style-type:none}
.long-logo {width:740px; }

.long-logo .icon-box,.long-logo .icon-box-commend,.long-logo .icon-box-kj{width:130px;background-color:#fff!important;line-height:30px}
.long-logo .bank-num{float:right;padding-top:8px}

.long-logo .icon-box .icon,.long-logo .icon-box-commend .icon,.long-logo .icon-box-kj .icon{float:left;width:116px;padding:0}


.long-logo .xbox .ui-list-icons{_margin-left:-10px; *margin-left:-10px;*margin-top:5px;}
.icon-box{ width:126px;border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color:#eee}  

.icon-box1{ BACKGROUND: url(bank_list.gif) no-repeat 6px -324px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box2{ BACKGROUND: url(bank_list.gif) no-repeat 6px -370px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box3{ BACKGROUND: url(bank_list.gif) no-repeat 6px -278px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box4{ BACKGROUND: url(bank_list.gif) no-repeat 6px -235px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF}  

.icon-box5{ BACKGROUND: url(bank_list.gif) no-repeat 6px -463px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF}  

.icon-box6{ BACKGROUND: url(bank_list.gif) no-repeat 6px -685px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF}  

.icon-box7{ BACKGROUND: url(bank_list.gif) no-repeat 6px -186px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF}  

.icon-box8{ BACKGROUND: url(bank_list.gif) no-repeat 6px -9px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box9{ BACKGROUND: url(bank_list.gif) no-repeat 6px -509px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box10{ BACKGROUND: url(bank_list.gif) no-repeat 6px -136px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box11{ BACKGROUND: url(bank_list.gif) no-repeat 6px -592px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box12{ BACKGROUND: url(bank_list.gif) no-repeat 6px -52px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box13{ BACKGROUND: url(bank_list.gif) no-repeat 6px -721px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box14{ BACKGROUND: url(bank_list.gif) no-repeat 6px -93px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box15{ BACKGROUND: url(bank_list.gif) no-repeat 6px -548px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box16{ BACKGROUND: url(bank_list.gif) no-repeat 6px -418px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box17{ BACKGROUND: url(bank_list.gif) no-repeat 6px -752px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box18{ BACKGROUND: url(bank_list.gif) no-repeat 6px -785px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box19{ BACKGROUND: url(bank_list.gif) no-repeat 6px -818px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box20{ BACKGROUND: url(bank_list.gif) no-repeat 6px -847px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box21{ BACKGROUND: url(bank_list.gif) no-repeat 6px -884px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

.icon-box22{ BACKGROUND: url(bank_list.gif) no-repeat 6px -920px; width:135px;  HEIGHT: 32px; border:1px solid #ddd;vertical-align:middle;position:relative;display:inline-block;background-color: #FFF} 

a.ke-insertfile{
	text-indent:-9999px;
	BACKGROUND: url(../images/downloadbtn1.png) no-repeat center center; width:246px;  HEIGHT: 64px;display:block;
}
a:hover.ke-insertfile{
	BACKGROUND: url(../images/downloadbtn2.png) no-repeat center center; width:246px;  HEIGHT: 64px;display:block;
}
.hotcourse > li.active > a, .hotcourse > li.active > a:hover, .hotcourse > li.active > a:focus{
	background-color:#f6f6f6;
}
.navbar-inverse .messages {
  position: absolute;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  top: 60px;
}
.navbar-inverse .messages .sorts {
  height: 40px;
  border-bottom: 1px solid #dddddd;
  margin: 0 10px;
}
.navbar-inverse .messages h5 {
  float: left;
  margin-top: 0px;
  margin-bottom: -1px;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
  width: 33.3333%;
  color: #333;
}
.navbar-inverse .messages h5:hover {
  color: #009aff;
}
.navbar-inverse .messages h5.active {
  border-bottom: 2px solid #009aff;
  color: #009aff;
}
.navbar-inverse .messages .chg-tab {
  display: none;
}
.navbar-inverse .messages ul {
  max-height: 315px;
  overflow: auto;
  margin-bottom: -1px;
  padding: 0 10px;
  min-height: 135px;
}
.navbar-inverse .messages li {
	display: block;
	border-bottom: 1px dashed #c3c8d9;
	font-size: 12px;
	line-height: 20px;
	max-width: 100%;
}
.navbar-inverse .messages .no-cont {
  font-size: 14px;
  line-height: 135px;
  height: 135px;
  text-align: center;
  border-bottom: none;
  padding: 0;
}
.navbar-inverse .messages a {
  color: #2699e3;
  display: inline;
  vertical-align: middle;
}
.navbar-inverse .messages a:hover {
  color: #1b609b;
}
.navbar-inverse .messages .messages-act {
  display: table-cell;
  vertical-align: middle;
  background: #f4f7f9;
  border-top: 1px solid #c1c8db;
  margin-top: -1px;
  padding: 0 10px;
  height: 40px;
  width: 320px;
}
.navbar-inverse .messages .messages-act .btn {
  color: #fff;
  font-size: 12px;
  padding: 3px 10px;
  background-color: #009aff;
  border-color: #0b8ee4;
}
.navbar-inverse .messages .messages-act .btn:hover {
  background: #40b3ff;
}
.navbar-inverse .red-dot {
	position: absolute;
	padding: 0 5px;
}
.red-dot {
  background: #de3c2f;
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  line-height: 16px;
  height: 16px;
  padding: 0 3px;
}
.sq-showpan {
  display: inline-block;
  line-height: 0;
  text-align: left;
  position: relative;
  vertical-align: middle;
}

.sq-dispan {
  position: absolute;
  left: 50%;
  width: 105px;
  margin-left: -52.5px;
  background: #fff;
  border: 1px solid #c1c8db;
  padding-top: 5px;
  z-index: 999;
}
.sq-dispan a {
  display: block;
  color: #848484;
  height: 26px;
  line-height: 26px;
}
.sq-dispan a:hover {
  color: #fff;
}
.hdat  .panel-body , .hdat  .panel-body .bolg-content{
	padding:0px;
}
.hdat  .panel-body , .hdat  .panel-body .bolg-content img{
	padding:0px;
	margin: 0px;
}
.bg-inverse {
background-color: #188877;
color: #fff;
}
.dropdown-title {
display: block;
font-size: 11px;
line-height: 11px;
padding: 11px 20px;
font-weight: 600;
border-bottom: none!important;
}
.dropdown-menu {
	padding:0;
	-webkit-box-shadow:0 0 5px rgba(100,100,100,.2);
	box-shadow:0 0 5px rgba(100,100,100,.2)
}
.dropdown-menu .divider {
	margin:3px 0
}
.dropdown-menu li a {
	-webkit-transition:all .1s ease-out 0s;
	-o-transition:all .1s ease-out 0s;
	transition:all .1s ease-out 0s
}
.dropdown-menu>li>a {
	margin:4px;
	padding-bottom:7px;
	padding-top:7px;
	border-radius:3px;
	line-height:18px
}
@media (max-width:767px) {
	.dropdown-menu.pull-right-xs {
	right:0;
	left:auto
}
}@media (min-width:768px) and (max-width:991px) {
	.dropdown-menu.pull-right-sm {
	right:0;
	left:auto
}
}@media (min-width:992px) and (max-width:1199px) {
	.dropdown-menu.pull-right-md {
	right:0;
	left:auto
}
}@media (min-width:1200px) {
	.dropdown-menu.pull-right-lg {
	right:0;
	left:auto
}
}.dropdown-title {
	display:block;
	font-size:11px;
	line-height:11px;
	padding:11px 20px;
	font-weight:600;
	border-bottom:none!important
}
.dropdown-menu>li.dropdown-footer {
	border-top:1px solid #e5e5e5;
	border-bottom:none
}
.dropdown-menu>li.dropdown-footer>a {
	margin:0;
	border-top-right-radius:0;
	border-top-left-radius:0;
	font-size:11px;
	line-height:1.42857
}
.dropdown-messages {
	min-width:320px
}
.dropdown-messages>li {
	border-bottom:1px solid #e5e5e5
}
.dropdown-messages>li>.message {
	margin:0;
	border-radius:0;
	white-space:normal
}
.dropdown-messages>li:last-child {
	border-bottom:none
}
.dropdown-messages .message-body {
	font-size:11px
}
.dropdown-notifications {
	min-width:260px
}
.dropdown-notifications>li {
	border-bottom:1px solid #e5e5e5
}
.dropdown-notifications .notification {
	margin:0;
	border-radius:0;
	padding:7px;
	overflow:hidden;
	zoom:1;
	white-space:normal
}
.dropdown-notifications .notification:last-child {
	border-bottom:none
}
.dropdown-notifications .notification .notification-thumb {
	display:block;
	margin-right:10px;
	width:32px;
	height:32px;
	line-height:32px;
	text-align:center
}
.dropdown-notifications .notification .notification-thumb .fa {
	line-height:33px
}
.dropdown-notifications .notification .notification-body {
	font-size:11px;
	overflow:hidden;
	zoom:1;
	line-height:16px
}
.dropdown-notifications .notification>.pull-left {
	margin-right:10px
}
.dropdown-notifications .notification>.pull-right {
	margin-left:10px
}
@media (max-width:480px) {
	.navbar-nav-expanded.nav>li.dropdown-xs-center {
	position:static
}
.navbar-nav-expanded .open.dropdown-xs-center .dropdown-menu {
	min-width:unset;
	left:15px;
	right:15px
}
}
.nav-dropdown>a {
	position:relative;
	padding-right:30px
}
.nav-dropdown>a:after {
	position:absolute;
	margin-top:-2px;
	right:12px;
	content:"\f105";
	font-size:16px;
	font-weight:300;
	height:auto;
	text-shadow:none;
	-webkit-transition:all .3s ease 0s;
	-o-transition:all .3s ease 0s;
	transition:all .3s ease 0s
}
.nav-dropdown.open>a:after {
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg)
}
@media (max-width:767px) {
	.navbar-nav-expanded .open .dropdown-menu {
	position:absolute;
	float:left;
	margin:2px 0 0;
	background-color:#fff;
	border:1px solid #eaeaea;
	border:1px solid rgba(0,0,0,.1);
	-webkit-box-shadow:0 0 5px rgba(100,100,100,.2);
	box-shadow:0 0 5px rgba(100,100,100,.2);
	width:auto;
	margin-top:0
}
.navbar-nav-expanded .open .dropdown-menu>li>a {
	padding:7px 20px;
	line-height:18px
}
.navbar-nav-expanded .open .dropdown-notifications .notification {
	padding:7px
}
}.navbar-default .navbar-search .btn {
	color:#777
}
.navbar-default .navbar-search .btn:focus,.navbar-default .navbar-search .btn:hover {
	color:#333
}
@media (min-width:768px) {
	.sidebar-condensed .navbar .navbar-brand-group {
	width:100px
}
.sidebar-condensed .navbar .navbar-brand-group .navbar-brand {
	width:50px
}
}.message {
	padding:7px;
	overflow:hidden;
	zoom:1;
	white-space:normal
}
.message .message-image {
	display:block;
	float:left;
	width:50px;
	height:50px;
	margin-right:10px;
	text-align:center
}
.message .message-body {
	overflow:hidden;
	zoom:1;
	line-height:16px
}
.navbar-default {
	background-color:#fff;
	border-color:#eee
}
.navbar-default .navbar-brand {
	color:#333
}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover {
	color:#1a1a1a;
	background-color:transparent
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-text {
	color:#333
}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
	color:#333;
	background-color:#f9f9f9
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover {
	color:#1a1a1a;
	background-color:#eeefef
}
.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover {
	color:#ccc;
	background-color:transparent
}
.navbar-default .navbar-sidebar-toggle {
	color:#333
}
.navbar-default .navbar-sidebar-toggle:focus,.navbar-default .navbar-sidebar-toggle:hover {
	color:#333;
	background-color:#f9f9f9
}
.navbar-default .navbar-toggle {
	border-color:#ddd
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover {
	background-color:#ddd
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:#888
}
.navbar-default .navbar-collapse,.navbar-default .navbar-form {
	border-color:#eee
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover {
	background-color:#eeefef;
	color:#1a1a1a
}
@media (max-width:767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color:#333
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color:#333;
	background-color:#f9f9f9
}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
	color:#1a1a1a;
	background-color:#eeefef
}
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover {
	color:#ccc;
	background-color:transparent
}
}.navbar-default .btn-link,.navbar-default .btn-link:focus,.navbar-default .btn-link:hover,.navbar-default .navbar-link,.navbar-default .navbar-link:hover {
	color:#333
}
.navbar-default .btn-link[disabled]:focus,.navbar-default .btn-link[disabled]:hover,fieldset[disabled] .navbar-default .btn-link:focus,fieldset[disabled] .navbar-default .btn-link:hover {
	color:#ccc
}
.navbar-nav > li > .dropdown-menu{
width: 320px;
background-color: #fff;
text-align: left;
top:99%;
}
.dropdown-menu>li>dd:focus, .dropdown-menu>li>dd:hover {
text-decoration: none;
color: #262626;
background-color: #eeefef;
}
.dropdown-menu>li>dd.message a{
text-decoration: none;
margin:0px; padding:0px;width:auto;
}.badge.badge-up.badge-small {
top: -10px;
margin-left: -10px;
}
.badge.badge-up {
position: relative;
top: -12px;
margin-left: -12px;
}
/*字色*/
.font-color-red{
	font-weight: bold;
	color: #EE1B2E;
}
.font-color-olive{
	font-weight: bold;
	color: #996600;
}
.font-color-blue{
	font-weight: bold;
	color: #2897C5;
}
.login-from{
	box-shadow: 0 3px 10px #999;
	}
a.bbs-type-list-href{
	font-weight:bold;
	color: #2a6496;
}
.mx-h222{
	max-height:222px;
	overflow:hidden;
}
/*首页友链*/
.index-links{
	border:1px solid #dddddd;
	padding: 0px 10px 10px 10px;
	clear: both;
	font-size: 12px;
	margin-bottom:10px
}
.index-links h3{
	color:#555555;
}
.index-links ul{
	padding:0;

}
.index-links ul li{
	float: left;
	padding:0 20px 0 0;
}
/* 课程页评价 */
#vipsay h4{
	padding:0 10px 10px 10px;
	margin-bottom:10px;
	border-bottom:1px solid #dddddd;
}
ul.pingjialist li{
	display: block;
	margin:10px 0;
	border-bottom:1px solid #dddddd;
}
ul.pingjialist li .avatar{
  float:left;
  width:100px;
  height:80px;
  padding:10px;
  z-index: 2;
  text-align:center;
}
ul.pingjialist li .avatar a img {
  width:80px;
  border-radius: 50%;
  display: block;
  margin-bottom: 5px;
}
ul.pingjialist li .starlist{
	margin-bottom:10px;
	margin-top:10px;
	margin-left:110px;
}
ul.pingjialist li .pingjialine{
	margin-left:110px;
	padding:10px;
	border-radius:4px;
	border:1px solid #E8D025;
}
.mxh155{max-height:155px;}
a.videothestatus{position: relative;display:block;}
a.videothestatus{display:block;height:155px;overflow:hidden;}
a.videothestatus img{width:100%;}
a.videothestatus span{
position: absolute;bottom:5px;right:0px;padding:1px 4px;display:block;
background: #4BA68C;
font-size: 13px;
color: #fff;
z-index: 100;
}
a.videothestatus span.thisvideot{
left: 0px;
top: 0px;
bottom:inherit;
right:inherit;
padding: 1px 4px;
font-size: 12px;
background: #4DA13A;
}
a.videothestatus span.iconhb{
background: #4268AD;
}
a.videothestatus span.iconjf{
background: #079EB0;
}
.bg-green{background-color: #58A339 !important;color:#FFF;}
.bg-green:hover{background-color: #64C351;color:#FFF;}
.caption small{
	line-height: 20px;
	color: #7E9E9E;
}
.event-org-list .media {
	float:left;
	padding-right:15px;
	color:#333;
	border:1px solid #DDD;
	background:#fff;
	margin-top: 0px;
}
.event-org-list .media:focus,.event-org-list .media:hover {
	text-decoration:none;
	border-color:#62b651
}
.event-org-list .count,.event-org-list .follow {
	color:#a0a0a0
}
.event-org-list .count:before,.event-org-list .follow:before {
	display:inline-block;
	margin-right:5px;
	content:'';
	*display:inline;
	*zoom:1
}
.event-org-list .follow:before {
	vertical-align:-1px
}
.event-org-list .count:before {
	vertical-align:-2px
}
.event-org-pannel {
	height:190px;
	width:48%;
	margin:5px;
}
.event-org-pannel-100 {
	height:190px;
	width:100%;
}
.event-org-pannel-100 i{
	color:#545ca6;
}
.event-org-pannel .pull-left {
	margin-right:20px
}
.event-org-pannel img {
	vertical-align:middle;
	max-width:190px;
	max-height:190px
}
.event-org-pannel h3 {
	line-height:24px;
	display:-webkit-box;
	overflow:hidden;
	max-height:45px;
	margin-bottom:15px;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical
}
.event-org-pannel p {
	line-height:21px;
	display:-webkit-box;
	overflow:hidden;
	max-height:80px;
	margin-bottom:20px;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical
}
.newh3 h3{
	font-size: 19px;
}
#con2_qhd_3 ul{
	width: 168px;
}
#con2_qhd_3 ul li{
	width: 168px;
	font-size: 12px;
}
#con2_qhd_3 ul li a{
	color:#FFFFFF;
	float: left;
	display: inline-block;
	font-size: 12px;
}
.collapsediv{
	display:none;
}
.titletopgreen{
	color: #1C7C25;
	font-weight: bold;
}
h6.teacher_info{
	color: #999999;
}
h6.teacher_info a{
	margin: -3px 4px;
	display: inline-block;
	line-height: 20px;
}
h6.teacher_info a img{
	width:16px;
	height:16px;
}
h4.index-title{
	color: #6B6C77;
	margin: 25px 0px 20px 0px;
	padding-left: 10px;
	font-size:18px;
	font-weight: normal;
	border-left: 5px solid #2AC0C0;
}
/*video*/
.cstop{
	background: url(../images/cstop.jpg) repeat;
	margin-top:-20px;
	padding:20px 0;
	margin-bottom:5px;
}
.vdbg{
	background: #fff;
	padding:20px 10px;
}
.cstop .urlpatch a{
	color: #fff;
}
.cstop .urlpatch .active{
	color: #fff;
}
.csdes{
	 color: #888;
     font-size: 13px;
    line-height: 24px;
    margin-bottom: 20px;
}
.btn-ww{
	width: 200px;
}
.header-search {
	position:relative;
	margin:10px 0 0 20px;
	width:180px
}
.header-search .btn {
	position:absolute;
	top:0;
	left:0;
	color:#7D938A
}
.header-search .form-control {
	padding-left:35px;
	border-color:transparent;
	height:34px;
	background:#DAE7E3;
	color:#449E84
}
.header-search .form-control:focus {
	background:#E6F5F1
}
.header-search .form-control,.header-search .form-control:focus {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none
}
.header-search input::-moz-placeholder {
	color:#7D938A
}
.header-search::-webkit-input-placeholder {
	color:#7D938A
}
.navbar-Box{
	margin-left:5px;
}
.navbar-inverse .navbar-nav > li > a.dropdown-toggle-header{
	padding-top:17px;
	padding-bottom:17px;
}
.article-add{
background-color: #34AB89;
border-color: #34AB89;
color: #fff;
}
.article-add{
background-color: #1E9180;
border-color: #1E9180;
color: #fff;
}