.search-category{margin-bottom:10px}.search-category>li>a{padding:2px 10px;color:#666}.side .list-unstyled{line-height:30px}.best-tag{margin-bottom:10px;border:1px solid #DDD;border-radius:2px;padding:15px 15px 5px}section{margin:0 -8px;padding:5px 8px}section .label-success{font-size:12px}section .h4{margin-bottom:2px;font-size:16px}section:hover{background-color:#fcf8e3}.search-result .excerpt{font-size:13px;color:#666;line-height:1.5;word-wrap:break-word}.key{color:#D0021B}.related-object{border:1px solid #ddd;border-radius:2px;padding:10px 15px;margin-bottom:20px}
img.videosearchlistico{
width: 131px;
height: 90px;
border-radius: 0;
margin: 5px 10px 0 0;
}
a.fastsearchlink{
	padding: 1px 6px;
	font-size: 12px;
	display: inline-block;
	height: 24px;
	color: #017e66;
	margin-bottom:10px;
	background-color: #E7F2ED;
	line-height: 24px;
	font-weight: normal;
	font-size: 13px;
	text-align: center;
	text-decoration:none;
}
a.fastsearchlink:hover{
	color: #ffffff;
	background-color: #4F998B;
	text-decoration:none;
}
.widget-model{
	display:block;
	min-height:100px;
}