
/* RED STYLE */
/* body top border */
body{border-top:4px #c84d50 solid}
/* navigation */
#menu ul li:first-child>a{border-top:2px solid #c84d50}
#menu ul li:first-child>a:after{border-bottom:6px solid #c84d50}
#menu ul ul li:first-child a:after{border-right:6px solid #c84d50}
#menu ul li:first-child a:hover:after{border-bottom-color:#c84d50}
#menu ul ul li:first-child a:hover:after{border-right-color:#c84d50}
/* font colors */
.colored,a{color:#c84d50}
.slash-colored{color:#c84d50}
.descr a{color:#c84d50}
#menu li:hover>a{color:#c84d50}
*html #menu li a:hover{color:#c84d50}
.hrefnone a:hover{color:#c84d50}
.read-more a{color:#c84d50}
#themeFilterableNav li a:hover{color:#c84d50}
/* backgrounds */
.colored_bg{background:#c84d50}
.prtHeadTitle{background:#c84d50}
#TopTrigger{background:#c84d50;}
.featbtn{background:#c84d50}
.featbtn2{background:#c84d50}
#themeFilterableNav li.active-tag{background:#c84d50}
/* image hover icons background */
.view a.info{background-color:#c84d50!important;}
.view a.link{background-color:#c84d50!important;}
/* top toggle background */
.top_line{background-color:#c84d50}
/* top navigation background */
.menu-left-bg {background:url('./img/menu-left-bg-red.png');height:69px;width:43px;float:right}	
.menu-right-bg {background:url('./img/menu-right-bg-red.png');height:69px;width:43px;float:right}	
.menu-bg {background:url('./img/menu-bg-red.png');height:69px;float:right;min-width:300px}	





