<style>
/*********************
  TopMenu, Top-Panel
*********************/
#top-lists{height:45px;border:0px;background-color:#FFFFFF;margin:0px;padding:0px;}
#panel {width:50%;float:left;margin:0px;padding:0px;}
#top-list-add {width:50%;float:right;border:0px;}
#top-list-add ul{margin:0px;padding:0px;border:0px;}
#top-list-add ul li{float:right;margin:2px 4px;text-decoration:none;list-style-type:none;}
#top-list-add ul li.enter{padding:0px;}
#top-list-add ul li.enternone{padding:3px;}
#top-list-add ul li a{display:block;padding:4px 8px;}
#top-list-add ul form{margin:0px;padding:0px;}
#top-list-add ul .enterinput input{cursor:pointer;border:1px solid #d6d6d6;border-radius:4px;margin:0px;padding:1px 5px;background:#FFFFFF;height:24px;line-height:24px;font-size:12px;color:rgb(55, 91, 145);}
.current{
	font-weight:bold;
}
#top-panel{
	border:1px solid #eee;
	background:#FFF;
	margin-bottom:10px;
	height:32px;
	line-height:32px;
	float:left;
	width:100%;
}
#showmanage{display:none;border:1px solid #eeeeee;background-color:#F3F3FB;width:620px;height:60px;font-size:12px;}
#showmanage a{margin:1px 1px;text-decoration:none;display:inline-block;height:14px;line-height:14px;}
#panel ul{
	list-style:none;
}
#panel ul li{
	height:28px;
	line-height:28px;
	padding:10px;
	display:inline;
}
#panel ul li a{
	height:28px;
	line-height:28px;
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	font-size:14px;
	display:inline-block;
}
#panel a:hover{
	text-decoration:underline;
}
.pagenew {
background: transparent url(../images/icons/fastforward.gif) no-repeat left;
}
#total_tiao {
color: #F24024;
}
tr.chengse{color:#E13800;}
tr.chengse a{color:#E13800;}
.Sxositiontop{position:relative;background:url(../images/arrow_down_mini.gif) center left no-repeat;padding-left:8px;}
.Sxositiondiv{position:absolute;z-index:9999;top:18px;width:70px;text-align:center;left:0px;padding:0px;margin:0px;border:1px solid #94A4A4;background:#ffffff;display:none;}
.Sxositiondiv a{display:block;width:100%;height:24px;line-height:24px;font-size:12px;background-color:#FFFFFF;font-weight:normal;color:#000000;}
.Sxositiondiv a:hover{display:block;width:100%;height:24px;line-height:24px;background-color:#DEDEDE;font-weight:normal;color:#000000;}
.Sxositiondiv a.curren{background-color:#F24024;color:#FFFFFF;}
</style>
<script>
$(document).ready(function() {
	$("#showtabshowjd").mouseover(function() {
	$("#showjd").stop(true,true).delay(300).slideDown('fast')
	});
	$(".showjd").mouseleave(function() {
	$("#showjd").stop(true,true).slideUp('fast')
	});
	
	$("#showtabshowcity").mouseover(function() {
	$("#showcity").stop(true,true).delay(300).slideDown('fast')
	});
	$(".showcity").mouseleave(function() {
	$("#showcity").stop(true,true).slideUp('fast')
	});
	
	$("#showtabshowrjlx").mouseover(function() {
	$("#showrjlx").stop(true,true).delay(300).slideDown('fast')
	});
	$(".showrjlx").mouseleave(function() {
	$("#showrjlx").stop(true,true).slideUp('fast')
	});

	$("#showtabshowshid").mouseover(function() {
	$("#showshid").stop(true,true).delay(300).slideDown('fast')
	});
	$(".showshid").mouseleave(function() {
	$("#showshid").stop(true,true).slideUp('fast')
	});
});
</script>
        <div id="content">
        	<div class="inner">
            	<div class="general_content">
                	<div class="main_content">

					 <div id="top-panel">
							<div id="panel">
								<ul>
								<li><a href="{echo:URL_NAV('powerpop_'.CUTURL($r[2]).'-show_'.$r[3]);/}" class="pagenew{sta:if($r[3]==$k&&$r[3])[exc]} current{end:if/}">班级概况</a></li>
								<li><a href="{echo:URL_NAV('powerpop_'.CUTURL($r[2]).'-showstudent_'.$r[3]);/}" class="pagenew{sta:if($r[3]==$k&&$r[3])[exc]} current{end:if/}">报名学员</a></li>
								</ul>
							</div>
							<div id="top-list-add">
							<ul>
							<li class="enter"><a href="{echo:URL_NAV(CUTURL('power_'.$r[2]).'-edit_'.$r[3].'');/}" target="_top" class="button_mini orange bcolor" >编辑课程</a></li>
							<li class="enternone"></li>
							</ul>
							</div>
					  </div>
						<h4>
						</h4>
                        <div class="clearboth" style="margin:0px 0px 0px 5px;"></div>
                       

							<table class="custom-table">
					<thead>
						<tr>
							<th width="76px">修改时间</th>
							<th width="46px"><div class="Sxositiontop showcity"><a href="javascript:void(0);" id="showtabshowcity">城市</a>
							<div class="Sxositiondiv" id="showcity">
							<a href="{echo:URL_NAV('power_'.$r[2].$key.'');/}&yxid={$yxid;/}&zxrj={$zxrj;/}&city=&shid={$shid;/}" {sta:if($city=='')[exc]}class="curren"{end:if/}>全部城市</a>
							{sta:if($City_List)[exc]}
							{sta:foreach($City_List as $k=>$v)[exc]}
							<a href="{echo:URL_NAV('power_'.$r[2].$key.'');/}&yxid={$yxid;/}&zxrj={$zxrj;/}&city={$k+1;/}&shid={$shid;/}" {sta:if($city==($k+1))[exc]}class="curren"{end:if/}>{sta:if($v[city]=='')[exc]}无{else}{$v[city];/}{end:if/}</a>
							{end:if/}
							{end:if/}
							</div>
							</div></th>
							<th width="60px">姓名</th>
							<th width="70px">QQ</th>
							<th width="86px">电话</th>
							<th>单位</th>
							<th width="60px">操作</th>
						</tr>
					</thead>
					<tbody>
					
				{sta: if($result[result]) {
				foreach($result[result] as $v) [loop]}	
						<tr id="lists_{echo:$v[id];/}">
							<td>{echo:date('Y-m-d',strtotime($v[edit_time]));/}</td>
							<td align="center">{echo:$v[city];/}</td>
							<td><a href="{echo:URL_NAV('powerpop_student-show_'.$v[user_id]);/}">{echo:$v[user_nice];/}</a></td>
							<td>{echo:$v[user_qq];/}</td>
							<td>{echo:$v[user_tel];/}</td>
							<td>{echo:$v[user_company];/}</td>
							<td align="center">
							{sta:if($POWER_RIGHT[2][del])[exc]}
							<a href="javascript:;" onclick="delval({echo:$v[id];/});" class="button_mini dark bcolor">删除</a>
							{end:if/}
							</td>
						</tr>
					{end:if/}
				{end:if/}

					</tbody>
					
				</table>


						<div class="clear"></div>
						
						<div class="wp-pagenavi clearfix">

						
								<div class="pagenav clearfix">
									{inc: require("module/page.php");/}
								</div>


						</div><!--/ .wp-pagenavi-->

						<div class="clear"></div>

						<div id="total_tiao">
											&nbsp;&nbsp;
						<b>总计：</b>{echo:$result[countnum];/} &nbsp;
						</div>
                	<div class="clearboth"></div>
                </div>
            </div>
        </div>
		
<script>
function delval(val){
	showalert(0,"确定要删除吗？<br /><a href='javascript:;' onclick='delvaldo("+val+");'>确定</a> 　 <a href='javascript:;' onclick='hiddendiv();'>取消</a>");
}
function delvaldo(val){
	  $.post("/ajax/",
	  {
		act:'delpbaoming',
		sid:val
	  },
	  function(data,status){
		  if(data){
			showalert(1,data);
			$('#lists_'+val).fadeOut();
		  }else{
			showalert(1,'删除失败！');
		  }
	  });
}
</script>
