<style>
.user_information{margin-bottom:15px;height:auto;}
.user_infobox1{border:1px solid #fff;float:left;width:17%;margin:5px;margin-left:0px;height:40px;line-height:40px;display:block;text-indent:24px;}
.user_infobox2{border:1px solid #fff;float:left;width:20%;margin:5px;margin-left:0px;height:40px;line-height:40px;display:block;text-indent:24px;}
</style>
        <div class="container-fluid">
        	<div class="inner">
            	<div class="general_content">
                	<div class="user_information">
						<div class="user_infobox1"><b>欢迎：</b>{echo:$POWER[power_name];/}</div>
						<div class="user_infobox2"><b>上次登录：</b>{echo:$POWER[power_lastlogin];/}</div>
                		<div style="clear:both;"></div>
						<br />
						<div><b>网站版权：</b>FRIEITEX</div>
						<br />
						<div><b>平台环境：</b>PHP+MYSQL+Memcached+AJAX+HTML5</div>
						<br />
						<div><b>最后更新：</b>2016-09-16</div>
						<br />
						<div><b>技术支持：</b>15959295717</div>
                    </div>
                	<div class="clearboth"></div>
                </div>
            </div>
        </div>
